<header id="header">
    <div class="content-wrapper">
        <div class="col col-md-6">
            <h1>
                <a href="/"><img src="~/Content/images/mainLogo.jpg" alt="Bank DKI" /></a>
            </h1>
        </div>
        <div class="col col-md-6">
            <div class="log">
                <a href="#" id="user">Login as User 1</a>
                <a href="#" id="logout">Logout <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></a>
            </div>
        </div>
    </div>
</header>