@{
    ViewBag.Title = "Bank DKI - Financial Information";
    ViewBag.Active = "financialInfo";
}

@section header
{
    @Html.Partial("_Header")
}

@section content
{
    <div class="content-wrapper">
    @Html.Partial("_Menus")

        <div class="col col-md-6 bordered">
            asdf
        </div>
        <div class="col col-md-6 bordered">
            fdsa
        </div>

        <div class="bordered">
            <div class="table center alternate">
                <div>
                    <div>Transaction Date</div>
                    <div>Transaction Type</div>
                    <div>Transaction Amount</div>
                    <div>Transaction Details</div>
                </div>
                <div>
                    <div>MM/DD/YY</div>
                    <div>Payment</div>
                    <div>$100</div>
                    <div>Sample Details</div>
                </div>
                <div>
                    <div>MM/DD/YY</div>
                    <div>Payment</div>
                    <div>$100</div>
                    <div>Sample Details</div>
                </div>
                <div>
                    <div>MM/DD/YY</div>
                    <div>Payment</div>
                    <div>$100</div>
                    <div>Sample Details</div>
                </div>
                <div>
                    <div>MM/DD/YY</div>
                    <div>Payment</div>
                    <div>$100</div>
                    <div>Sample Details</div>
                </div>
            </div>
        </div>
    </div>
}
