@{
    ViewBag.Title = "Bank DKI - Financial Information";
    ViewBag.Active = "financialInfo";
}

@section header
{
    @Html.Partial("_Header")
}

@section content
{
    <div class="content-wrapper">
        @Html.Partial("_Menus")

        <div class="col col-md-6 bordered">
            asdf
        </div>
        <div class="col col-md-6 bordered">
            fdsa
        </div>
    </div>
}
