@{
    ViewBag.Title = "Bank DKI - Financial Projection";
    ViewBag.Active = "financialProjection";
}

@section header
{
    @Html.Partial("_Header")
}

@section content
{
    <div class="content-wrapper">
        @Html.Partial("_Menus")

        <h1>Financial Projection</h1>
        <div>This is a test only page. Check if less is working.</div>

        <input type="button" class="btn btn-red" value="Button" />
        <input type="button" class="btn btn-green" value="Button" />
        <input type="button" class="btn btn-blue" value="Button" />
        <input type="button" class="btn btn-white" value="Button" />
    </div>
}
