@{
    ViewBag.Title = "Bank DKI - Financial Ratios";
    ViewBag.Active = "financialRatios";
}

@section header
{
    @Html.Partial("_Header")
}


@section content
{
    <div class="content-wrapper">
        @Html.Partial("_Menus")

        <h2>Financial Ratios</h2>
    </div>
}
