@{
    ViewBag.Title = "Bank DKI - Financial Ratios";
    ViewBag.Active = "financialRatios";
}

@section header
{
    @Html.Partial("_Header")
}


@section content
{
    <div class="content-wrapper">
        @Html.Partial("_Menus")

        <h2>XYZ (Base case scenario - Sales growth (%))</h2>

        <div class="main-context-box">
            <div class="table-heading">All figures are in IDR Ribuan Except Stated Otherwise</div>

            <div id="financialratio-table" class="table alternate">
                <div class="head">
                    <div>Financial Ratios</div>
                    <div class="audited">Audited<span class="year-label">31-Dec-13</span></div>
                    <div class="audited">Audited<span class="year-label">31-Dec-14</span></div>
                    <div class="audited">Audited<span class="year-label">31-Dec-15</span></div>
                    <div class="projected">Proj<span class="year-label">31-Dec-16</span></div>
                    <div class="projected">Proj<span class="year-label">31-Dec-17</span></div>
                    <div class="projected">Proj<span class="year-label">31-Dec-18</span></div>
                    <div class="projected">Proj<span class="year-label">31-Dec-19</span></div>
                    <div class="projected">Proj<span class="year-label">31-Dec-20</span></div>
                </div>
                <div class="section-break"></div>
                <div class="section-head">
                    <div>Return of Equity (ROE)</div>
                    <div>104.45%</div>
                    <div>104.45%</div>
                    <div>104.45%</div>
                    <div>104.45%</div>
                    <div>104.45%</div>
                    <div>104.45%</div>
                    <div>104.45%</div>
                    <div>104.45%</div>
                </div>
                <div>
                    <div>ROS (Return on sales)</div>
                    <div>5.31%</div>
                    <div>5.51%</div>
                    <div>5.39%</div>
                    <div>4.28%</div>
                    <div>4.66%</div>
                    <div>4.83%</div>
                    <div>4.89%</div>
                    <div>4.95%</div>
                </div>
                <div>
                    <div>ATO (Asset turnover)</div>
                    <div>1.04</div>
                    <div>1.17</div>
                    <div>0.86</div>
                    <div>0.86</div>
                    <div>0.93</div>
                    <div>0.97</div>
                    <div>1.02</div>
                    <div>1.06</div>
                </div>
                <div>
                    <div>ALEV (Asset leverage)</div>
                    <div>1.69</div>
                    <div>1.54</div>
                    <div>3.16</div>
                    <div>2.30</div>
                    <div>2.17</div>
                    <div>2.10</div>
                    <div>2.03</div>
                    <div>1.97</div>
                </div>

                <div class="section-break"></div>
                <div class="section-head">
                    <div>ROS</div>
                    <div>104.45%</div>
                    <div>104.45%</div>
                    <div>104.45%</div>
                    <div>104.45%</div>
                    <div>104.45%</div>
                    <div>104.45%</div>
                    <div>104.45%</div>
                    <div>104.45%</div>
                </div>
                <div>
                    <div>% Growth</div>
                    <div>N.A.</div>
                    <div>N.A.</div>
                    <div>N.A.</div>
                    <div>N.A.</div>
                    <div>N.A.</div>
                    <div>N.A.</div>
                    <div>N.A.</div>
                    <div>N.A.</div>
                </div>
                <div>
                    <div>Cost of goods sold / Sales</div>
                    <div>84.33%</div>
                    <div>84.33%</div>
                    <div>84.33%</div>
                    <div>84.33%</div>
                    <div>84.33%</div>
                    <div>84.33%</div>
                    <div>84.33%</div>
                    <div>84.33%</div>
                </div>
                <div>
                    <div>Gross profit margin</div>
                    <div>15.67%</div>
                    <div>15.67%</div>
                    <div>15.67%</div>
                    <div>15.67%</div>
                    <div>15.67%</div>
                    <div>15.67%</div>
                    <div>15.67%</div>
                    <div>15.67%</div>
                </div>
                <div>
                    <div>SGA /Sales</div>
                    <div>8.90%</div>
                    <div>8.90%</div>
                    <div>8.90%</div>
                    <div>8.90%</div>
                    <div>8.90%</div>
                    <div>8.90%</div>
                    <div>8.90%</div>
                    <div>8.90%</div>
                </div>

                <div class="section-break"></div>
                <div class="section-head">
                    <div>ATO</div>
                    <div>104.45%</div>
                    <div>104.45%</div>
                    <div>104.45%</div>
                    <div>104.45%</div>
                    <div>104.45%</div>
                    <div>104.45%</div>
                    <div>104.45%</div>
                    <div>104.45%</div>
                </div>

                <div class="section-break"></div>
                <div class="section-head">
                    <div>ALEV</div>
                    <div>1.69</div>
                    <div>1.69</div>
                    <div>1.69</div>
                    <div>1.69</div>
                    <div>1.69</div>
                    <div>1.69</div>
                    <div>1.69</div>
                    <div>1.69</div>
                </div>
                <div>
                    <div>Current ratio</div>
                    <div>1.46</div>
                    <div>1.46</div>
                    <div>1.46</div>
                    <div>1.46</div>
                    <div>1.46</div>
                    <div>1.46</div>
                    <div>1.46</div>
                    <div>1.46</div>
                </div>
                <div>
                    <div>Quick ratio</div>
                    <div>0.36</div>
                    <div>0.36</div>
                    <div>0.36</div>
                    <div>0.36</div>
                    <div>0.36</div>
                    <div>0.36</div>
                    <div>0.36</div>
                    <div>0.36</div>
                </div>
                <div>
                    <div>Debt to equity ratio</div>
                    <div>0.41</div>
                    <div>0.41</div>
                    <div>0.41</div>
                    <div>0.41</div>
                    <div>0.41</div>
                    <div>0.41</div>
                    <div>0.41</div>
                    <div>0.41</div>
                </div>
                <div>
                    <div>Leverage</div>
                    <div>0.69</div>
                    <div>0.69</div>
                    <div>0.69</div>
                    <div>0.69</div>
                    <div>0.69</div>
                    <div>0.69</div>
                    <div>0.69</div>
                    <div>0.69</div>
                </div>
                <div>
                    <div>Coverage ratio</div>
                    <div>1.34</div>
                    <div>1.34</div>
                    <div>1.34</div>
                    <div>1.34</div>
                    <div>1.34</div>
                    <div>1.34</div>
                    <div>1.34</div>
                    <div>1.34</div>
                </div>

                <div class="section-break"></div>
                <div class="section-head">
                    <div>Capital structure</div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>

                <div class="section-break"></div>
                <div class="section-head">
                    <div>EBITDA</div>
                    <div>176,105,063</div>
                    <div>176,105,063</div>
                    <div>176,105,063</div>
                    <div>176,105,063</div>
                    <div>176,105,063</div>
                    <div>176,105,063</div>
                    <div>176,105,063</div>
                    <div>176,105,063</div>
                </div>
                <div>
                    <div>EBITDA - Int exp</div>
                    <div>115,555,358</div>
                    <div>115,555,358</div>
                    <div>115,555,358</div>
                    <div>115,555,358</div>
                    <div>115,555,358</div>
                    <div>115,555,358</div>
                    <div>115,555,358</div>
                    <div>115,555,358</div>
                </div>
                <div>
                    <div>EBITDA - CPLTD - Int exp</div>
                    <div>115,555,358</div>
                    <div>115,555,358</div>
                    <div>115,555,358</div>
                    <div>115,555,358</div>
                    <div>115,555,358</div>
                    <div>115,555,358</div>
                    <div>115,555,358</div>
                    <div>115,555,358</div>
                </div>
                <div>
                    <div>EBITDA - CPLTD - Int exp - Dividend</div>
                    <div>115,555,358</div>
                    <div>115,555,358</div>
                    <div>115,555,358</div>
                    <div>115,555,358</div>
                    <div>115,555,358</div>
                    <div>115,555,358</div>
                    <div>115,555,358</div>
                    <div>115,555,358</div>
                </div>
                <div>
                    <div>EBITDA / Int exp</div>
                    <div>2.91</div>
                    <div>2.91</div>
                    <div>2.91</div>
                    <div>2.91</div>
                    <div>2.91</div>
                    <div>2.91</div>
                    <div>2.91</div>
                    <div>2.91</div>
                </div>
                <div>
                    <div>EBITDA / (CPLTD + Int exp)</div>
                    <div>2.91</div>
                    <div>2.91</div>
                    <div>2.91</div>
                    <div>2.91</div>
                    <div>2.91</div>
                    <div>2.91</div>
                    <div>2.91</div>
                    <div>2.91</div>
                </div>
                <div>
                    <div>EBITDA / (CPLTD + Int exp + Dividend)</div>
                    <div>2.91</div>
                    <div>2.91</div>
                    <div>2.91</div>
                    <div>2.91</div>
                    <div>2.91</div>
                    <div>2.91</div>
                    <div>2.91</div>
                    <div>2.91</div>
                </div>
                <div>
                    <div>Total interest bearing debts / EBITDA</div>
                    <div>3.61</div>
                    <div>3.61</div>
                    <div>3.61</div>
                    <div>3.61</div>
                    <div>3.61</div>
                    <div>3.61</div>
                    <div>3.61</div>
                    <div>3.61</div>
                </div>
            </div>
        </div>
    </div>
}
