@{
    ViewBag.Title = "Bank DKI - Accounting Information";
    ViewBag.Active = "accountingInfo";
}

@section header
{
    @Html.Partial("_Header")
}

@section content
{
    <div class="content-wrapper">
        @Html.Partial("_Menus")

        <div class="main-context-box">
            <h1>Ratio Comparison</h1>

            <div id="comparison-table" class="table">
                <div class="head">
                    <div></div>
                    <div>Projected<span class="year-label">2017</span></div>
                    <div>Projected<span class="year-label">2018</span></div>
                    <div>Projected<span class="year-label">2019</span></div>
                    <div>Projected<span class="year-label">2020</span></div>
                    <div>Projected<span class="year-label">2020</span></div>
                    <div>Industry Ave.<span class="year-label">2014</span></div>
                </div>
                <div>
                    <div class="cmp-tab-cell section-head">Liquidity Ratios:</div>
                </div>
                <div>
                    <div>Current Ratio</div>
                    <div>3.43</div>
                    <div>4.02</div>
                    <div>4.62</div>
                    <div>5.16</div>
                    <div>5.53</div>
                    <div>1.40</div>
                </div>
                <div>
                    <div>Quick Ratio</div>
                    <div>1.36</div>
                    <div>1.61</div>
                    <div>1.90</div>
                    <div>1.84</div>
                    <div>1.68</div>
                    <div>0.20</div>
                </div>
                <div>
                    <div>Sales / Receivables</div>
                    <div>85.88</div>
                    <div>85.88</div>
                    <div>85.88</div>
                    <div>85.88</div>
                    <div>85.88</div>
                    <div>87.10</div>
                </div>
                <div>
                    <div>Days' Receivables</div>
                    <div>4.25</div>
                    <div>4.25</div>
                    <div>4.25</div>
                    <div>4.25</div>
                    <div>4.25</div>
                    <div>4.19</div>
                </div>
                <div>
                    <div>Cost of Sales / Inventory</div>
                    <div>9.12</div>
                    <div>8.11</div>
                    <div>7.30</div>
                    <div>6.08</div>
                    <div>5.21</div>
                    <div>3.10</div>
                </div>
                <div>
                    <div>Days' Inventory</div>
                    <div>40.00</div>
                    <div>45.00</div>
                    <div>50.00</div>
                    <div>60.00</div>
                    <div>70.00</div>
                    <div>117.74</div>
                </div>
                <div>
                    <div>Cost of Sales / Payables</div>
                    <div>40.56</div>
                    <div>40.56</div>
                    <div>40.56</div>
                    <div>40.56</div>
                    <div>40.56</div>
                    <div>40.70</div>
                </div>
                <div>
                    <div>Days' Payables</div>
                    <div>9.00</div>
                    <div>9.00</div>
                    <div>9.00</div>
                    <div>9.00</div>
                    <div>9.00</div>
                    <div>8.97</div>
                </div>
                <div>
                    <div>Sales / Work Capital</div>
                    <div>8.95</div>
                    <div>7.64</div>
                    <div>6.64</div>
                    <div>5.93</div>
                    <div>5.52</div>
                    <div>12.00</div>
                </div>
                <div>
                    <div>EBIT / Interest</div>
                    <div>4.48</div>
                    <div>8.88</div>
                    <div>13.13</div>
                    <div>17.79</div>
                    <div>23.12</div>
                    <div>2.10</div>
                </div>
                <div>
                    <div>Net Profit + Depr + Amort/CLTD</div>
                    <div>4.85</div>
                    <div>7.91</div>
                    <div>9.66</div>
                    <div>10.68</div>
                    <div>11.10</div>
                    <div>5.20</div>
                </div>
                <div>
                    <div class="cmp-tab-cell section-head">Leverage Ratios:</div>
                </div>
                <div>
                    <div>Fixed Assets / Tangible Net Worth</div>
                    <div>0.14</div>
                    <div>0.08</div>
                    <div>0.04</div>
                    <div>0.02</div>
                    <div>0.01</div>
                    <div>0.30</div>
                </div>
                <div>
                    <div>Debt / Worth</div>
                    <div>2.25</div>
                    <div>1.25</div>
                    <div>0.80</div>
                    <div>0.57</div>
                    <div>0.43</div>
                    <div>2.70</div>
                </div>
                <div>
                    <div class="cmp-tab-cell section-head">Operating Ratios:</div>
                </div>
                <div>
                    <div>Profit Before Tax / Tan. Net Worth</div>
                    <div>62.20%</div>
                    <div>75.68%</div>
                    <div>71.12%</div>
                    <div>65.76%</div>
                    <div>61.26%</div>
                    <div>22.00%</div>
                </div>
                <div>
                    <div>Profit Before Tax / Total Assets</div>
                    <div>18.97%</div>
                    <div>33.52%</div>
                    <div>39.37%</div>
                    <div>41.84%</div>
                    <div>42.72%</div>
                    <div>5.10%</div>
                </div>
                <div>
                    <div>Sales / Net Fixed Assets</div>
                    <div>115.89%</div>
                    <div>128.59%</div>
                    <div>182.09%</div>
                    <div>271.25%</div>
                    <div>454.57%</div>
                    <div>3.73%</div>
                </div>
                <div>
                    <div>Sales / Total Assets</div>
                    <div>5.02%</div>
                    <div>4.69%</div>
                    <div>4.45%</div>
                    <div>4.23%</div>
                    <div>4.06%</div>
                    <div>2.80%</div>
                </div>
                <div>
                    <div class="cmp-tab-cell section-head">Other Ratios / Numbers:</div>
                </div>
                <div>
                    <div>Officers Salaries (Actual)</div>
                    <div>$30,000</div>
                    <div>$31,500</div>
                    <div>$33,233</div>
                    <div>$35,160</div>
                    <div>$37,270</div>
                    <div>N/A</div>
                </div>
                <div>
                    <div>Equity (Net Worth)</div>
                    <div>$120,449</div>
                    <div>$206,492</div>
                    <div>$310,513</div>
                    <div>$421,212</div>
                    <div>$528,274</div>
                    <div>N/A</div>
                </div>
                <div>
                    <div>Loans Balance (Actual)</div>
                    <div>$188,209</div>
                    <div>$175,086</div>
                    <div>$160,481</div>
                    <div>$144,226</div>
                    <div>$126,135</div>
                    <div>N/A</div>
                </div>
                <div>
                    <div>% Deprec. Amort. / Sales</div>
                    <div>0.00</div>
                    <div>0.00</div>
                    <div>0.00</div>
                    <div>0.00</div>
                    <div>0.00</div>
                    <div>0.60</div>
                </div>
                <div>
                    <div>% Officers Compensation / Sales</div>
                    <div>0.02</div>
                    <div>0.01</div>
                    <div>0.01</div>
                    <div>0.01</div>
                    <div>0.01</div>
                    <div>0.02</div>
                </div>
                <div>
                    <div>Tangible Net Worth (NW - Intangibles)</div>
                    <div>$117,249</div>
                    <div>$204,092</div>
                    <div>$308,963</div>
                    <div>$420,412</div>
                    <div>$528,274</div>
                    <div>N/A</div>
                </div>
                <div>
                    <div>Working Capital (Actual)</div>
                    <div>$215,685</div>
                    <div>$282,766</div>
                    <div>$374,540</div>
                    <div>$471,239</div>
                    <div>$557,508</div>
                    <div>N/A</div>
                </div>
                <div>
                    <div class="cmp-tab-cell section-head">Gross Profit <br />Key Percentages as a Percent of Gross Profit</div>
                </div>
                <div>
                    <div>Rent</div>
                    <div>15.07%</div>
                    <div>14.12%</div>
                    <div>12.96%</div>
                    <div>12.19%</div>
                    <div>11.74%</div>
                    <div>0.00%</div>
                </div>
                <div>
                    <div>Interest Paid</div>
                    <div>4.38%</div>
                    <div>3.66%</div>
                    <div>2.94%</div>
                    <div>2.38%</div>
                    <div>1.92%</div>
                    <div>0.00%</div>
                </div>
                <div>
                    <div>Depreciation & Amortization</div>
                    <div>1.60%</div>
                    <div>1.49%</div>
                    <div>1.36%</div>
                    <div>1.28%</div>
                    <div>1.22%</div>
                    <div>0.00%</div>
                </div>
                <div>
                    <div>Officers Compensation</div>
                    <div>6.28%</div>
                    <div>5.89%</div>
                    <div>5.40%</div>
                    <div>5.08%</div>
                    <div>4.89%</div>
                    <div>0.00%</div>
                </div>
                <div>
                    <div>Taxes Paid</div>
                    <div>3.53%</div>
                    <div>8.76%</div>
                    <div>11.54%</div>
                    <div>13.29%</div>
                    <div>14.37%</div>
                    <div>N/A</div>
                </div>
            </div>
        </div>
    </div>
}
