@{
    ViewBag.Title = "Bank DKI - Accounting Information";
    ViewBag.Active = "AccountingInfo";
}

@section header
{
    @Html.Partial("_Header")
}

@section content
{
    <div class="content-wrapper">
        @Html.Partial("_Menus")

        <h1>Accounting Information</h1>
        <div>This is a test only page. Check if less is working.</div>
    </div>
}
