@{
    ViewBag.Title = "Bank DKI - Login";
    ViewBag.Active = "logIn";
}

@section header
{
    
}

@section content
{
    <div class="content-wrapper">
        <h1>Login</h1>
        <div>This is a test only page. Check if less is working.</div>
    </div>
}
