@{
    ViewBag.Title = "Bank DKI - Statements of Cash Flows Direct Method";
    ViewBag.Active = "scfDirectMethod";
}

@section header
{
    @Html.Partial("_Header")
}


@section content
{
    <div class="content-wrapper">
        @Html.Partial("_Menus")

        <h2>XYZ (BASE CASE SCENARIO - SALES GROWTH (%)</h2>
        <p>All figures are in IDR Ribuan Except Stated Otherwise </p>
        <!-- Accordion -->
        <div id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel">
                <div class="panel-heading" role="tab" id="headingOne">
                    <div class="panel-title">
                        <div data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <div class="table">
                                <div class="head">
                                    <div class="labels">
                                        <div>CASH FLOW STATEMENTS - DIRECT METHOD (in IDR Ribuan)</div>
                                    </div>
                                    <div class="audited">
                                        <div>AUDITED</div>
                                        <div>31-Dec-13</div>
                                    </div>
                                    <div class="audited">
                                        <div>AUDITED</div>
                                        <div>31-Dec-14</div>
                                    </div>
                                    <div class="audited">
                                        <div>AUDITED</div>
                                        <div>31-Dec-15</div>
                                    </div>
                                    <div class="proj">
                                        <div>PROJ</div>
                                        <div>31-Dec-16</div>
                                    </div>
                                    <div class="proj">
                                        <div>PROJ</div>
                                        <div>31-Dec-17</div>
                                    </div>
                                    <div class="proj">
                                        <div>PROJ</div>
                                        <div>31-Dec-18</div>
                                    </div>
                                    <div class="proj">
                                        <div>PROJ</div>
                                        <div>31-Dec-19</div>
                                    </div>
                                    <div class="proj">
                                        <div>PROJ</div>
                                        <div>31-Dec-20</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="table alternate">
                        <div class="section-heading">INCOME FOR THE PERIOD ATTRIBUTE TO:</div>
                        <div class="spacer spacer-heading">
                            <div class="labels">&nbsp;</div>
                        </div>
                        <div>
                            <div class="labels">Collections from customers</div>
                            <div class="audited">N.A.</div>
                            <div class="audited">2,801,175,969</div>
                            <div class="audited">2,983,124,286</div>
                            <div class="proj">3,633,837,094</div>
                            <div class="proj">3,875,461,481</div>
                            <div class="proj">4,263,007,629</div>
                            <div class="proj">4,689,308,392</div>
                            <div class="proj">5,158,239,231</div>
                        </div>
                        <div>
                            <div class="labels">Pendapatan bunga</div>
                            <div class="audited">N.A.</div>
                            <div class="audited">50,396,786</div>
                            <div class="audited">43,507,556</div>
                            <div class="proj">43,507,556</div>
                            <div class="proj">43,507,556</div>
                            <div class="proj">43,507,556</div>
                            <div class="proj">43,507,556</div>
                            <div class="proj">43,507,556</div>
                        </div>
                        <div>
                            <div class="labels">Payment for inventory</div>
                            <div class="audited">N.A.</div>
                            <div class="audited">(2,333,571,699)</div>
                            <div class="audited">(2,945,304,121)</div>
                            <div class="proj">(2,704,095,724)</div>
                            <div class="proj">(3,208,922,122)</div>
                            <div class="proj">(3,529,814,334)</div>
                            <div class="proj">(3,882,795,768)</div>
                            <div class="proj">(4,271,075,345)</div>
                        </div>
                        <div>
                            <div class="labels">Payment for operating expenses</div>
                            <div class="audited">N.A.</div>
                            <div class="audited">(328,170,225)</div>
                            <div class="audited">(508,348,547)</div>
                            <div class="proj">(130,143,126)</div>
                            <div class="proj">(342,995,241)</div>
                            <div class="proj">(377,294,765)</div>
                            <div class="proj">(415,024,242)</div>
                            <div class="proj">(456,526,666)</div>
                        </div>
                        <div>
                            <div class="labels">Received from (Payment for) other expenses</div>
                            <div class="audited">N.A.</div>
                            <div class="audited">2,468,565</div>
                            <div class="audited">5,000,696</div>
                            <div class="proj">3,371,040</div>
                            <div class="proj">3,371,040</div>
                            <div class="proj">3,371,040</div>
                            <div class="proj">3,371,040</div>
                            <div class="proj">3,371,040</div>
                        </div>
                        <div>
                            <div class="labels">Payment for interest</div>
                            <div class="audited">N.A.</div>
                            <div class="audited">(41,357,782)</div>
                            <div class="audited">(68,674,094)</div>
                            <div class="proj">(171,484,195)</div>
                            <div class="proj">(160,835,393)</div>
                            <div class="proj">(160,761,735)</div>
                            <div class="proj">(166,650,082)</div>
                            <div class="proj">(172,705,824)</div>
                        </div>
                        <div>
                            <div class="labels">Payment for taxes</div>
                            <div class="audited">N.A.</div>
                            <div class="audited">(51,152,012)</div>
                            <div class="audited">(75,585,113)</div>
                            <div class="proj">(45,572,132)</div>
                            <div class="proj">(64,251,224)</div>
                            <div class="proj">(72,871,991)</div>
                            <div class="proj">(80,728,148)</div>
                            <div class="proj">(89,477,828)</div>
                        </div>
                        <div class="total">
                            <div class="labels">TOTAL CURRENT ASSETS</div>
                            <div class="audited">N.A.</div>
                            <div class="audited">99,789,601</div>
                            <div class="audited">(566,279,336)</div>
                            <div class="proj">1,259,420,513</div>
                            <div class="proj">145,336,097</div>
                            <div class="proj">169,143,400</div>
                            <div class="proj">190,988,748</div>
                            <div class="proj">215,332,164</div>
                        </div>
                        <div class="spacer spacer-heading">
                            <div class="labels">&nbsp;</div>
                        </div>
                        <div class="section-heading">CASH FLOWS FROM INVESTING ACTIVITIES</div>
                        <div class="spacer spacer-heading">
                            <div class="labels">&nbsp;</div>
                        </div>
                        <div>
                            <div class="labels">In short-term investments</div>
                            <div class="audited">N.A.</div>
                            <div class="audited">1,089,396</div>
                            <div class="audited">(143,355,328)</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                        </div>
                        <div>
                            <div class="labels">In long-term investments</div>
                            <div class="audited">N.A.</div>
                            <div class="audited">(169,297)</div>
                            <div class="audited">(277,012,381)</div>
                            <div class="proj">512,370,094</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                        </div>
                        <div>
                            <div class="labels">In fixed assets</div>
                            <div class="audited">N.A.</div>
                            <div class="audited">(9,889,593)</div>
                            <div class="audited">(14,742,947)</div>
                            <div class="proj">(0)</div>
                            <div class="proj">(0)</div>
                            <div class="proj">(0)</div>
                            <div class="proj">(0)</div>
                            <div class="proj">(0)</div>
                        </div>
                        <div>
                            <div class="labels">In other non-current assets</div>
                            <div class="audited">N.A.</div>
                            <div class="audited">(68,935,595)</div>
                            <div class="audited">(59,721,487)</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                        </div>
                        <div>
                            <div class="labels">Gain (Loss) on sale of property</div>
                            <div class="audited">N.A.</div>
                            <div class="audited">1,405,136</div>
                            <div class="audited">2,742,844</div>
                            <div class="proj">1,582,357</div>
                            <div class="proj">1,582,357</div>
                            <div class="proj">1,582,357</div>
                            <div class="proj">1,582,357</div>
                            <div class="proj">1,582,357</div>
                        </div>
                        <div>
                            <div class="labels">Gain (Loss) on sale of investments</div>
                            <div class="audited">N.A.</div>
                            <div class="audited">1,696,785</div>
                            <div class="audited">16,496,350</div>
                            <div class="proj">16,496,350</div>
                            <div class="proj">16,496,350</div>
                            <div class="proj">16,496,350</div>
                            <div class="proj">16,496,350</div>
                            <div class="proj">16,496,350</div>
                        </div>
                        <div>
                            <div class="labels">Others</div>
                            <div class="audited">N.A.</div>
                            <div class="audited">2,260,758</div>
                            <div class="audited">2,635,087</div>
                            <div class="proj">2,635,087</div>
                            <div class="proj">2,635,087</div>
                            <div class="proj">2,635,087</div>
                            <div class="proj">2,635,087</div>
                            <div class="proj">2,635,087</div>
                        </div>
                        <div>
                            <div class="labels">In intangibles</div>
                            <div class="audited">&nbsp;</div>
                            <div class="audited">-</div>
                            <div class="audited">-</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                        </div>
                        <div class="total">
                            <div class="labels">NET CASH FLOW FROM OPERATING ACTIVITIES</div>
                            <div class="audited">N.A.</div>
                            <div class="audited">99,789,601</div>
                            <div class="audited">(566,279,336)</div>
                            <div class="proj">1,259,420,513</div>
                            <div class="proj">145,336,097</div>
                            <div class="proj">169,143,400</div>
                            <div class="proj">190,988,748</div>
                            <div class="proj">215,332,164</div>
                        </div>
                        <div class="spacer spacer-heading">
                            <div class="labels">&nbsp;</div>
                        </div>
                        <div class="section-heading">CASH FLOWS FROM FINANCING ACTIVITIES</div>
                        <div class="spacer spacer-heading">
                            <div class="labels">&nbsp;</div>
                        </div>
                        <div>
                            <div class="labels">In short-term debts (existing)</div>
                            <div class="audited">N.A.</div>
                            <div class="audited">43,813,011</div>
                            <div class="audited">496,143,033</div>
                            <div class="proj">(98,965,000)</div>
                            <div class="proj">(1,035,000)</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                        </div>
                        <div>
                            <div class="labels">In short-term debts (existing ())</div>
                            <div class="audited">N.A.</div>
                            <div class="audited">(266,648,316)</div>
                            <div class="audited">705,294,497</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                        </div>
                        <div>
                            <div class="labels">In short-term debts (new)</div>
                            <div class="audited">N.A.</div>
                            <div class="audited">-</div>
                            <div class="audited">-</div>
                            <div class="proj">1,151,000</div>
                            <div class="proj">114,000</div>
                            <div class="proj">98,735,000</div>
                            <div class="proj">100,000,000</div>
                            <div class="proj">100,000,000</div>
                        </div>
                        <div>
                            <div class="labels">In short-term debts (new ())</div>
                            <div class="audited">N.A.</div>
                            <div class="audited">-</div>
                            <div class="audited">-</div>
                            <div class="proj">1,000</div>
                            <div class="proj">1,000</div>
                            <div class="proj">(2,000)</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                        </div>
                        <div>
                            <div class="labels">New financing needs - unallocated</div>
                            <div class="audited">N.A.</div>
                            <div class="audited">-</div>
                            <div class="audited">-</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                        </div>
                        <div>
                            <div class="labels">In current portion of LTD (existing)</div>
                            <div class="audited">N.A.</div>
                            <div class="audited">(25,000,000)</div>
                            <div class="audited">1,581,465</div>
                            <div class="proj">4,168,535</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                            <div class="proj">(5,750,000)</div>
                            <div class="proj">-</div>
                        </div>
                        <div>
                            <div class="labels">In current portion of LTD (existing ())</div>
                            <div class="audited">N.A.</div>
                            <div class="audited">-</div>
                            <div class="audited">98,197,643</div>
                            <div class="proj">(4,599,994)</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                            <div class="proj">(93,597,649)</div>
                        </div>
                        <div>
                            <div class="labels">In current portion of LTD (baru)</div>
                            <div class="audited">N.A.</div>
                            <div class="audited">-</div>
                            <div class="audited">-</div>
                            <div class="proj">1,150,100</div>
                            <div class="proj">(1,150,100)</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                        </div>
                        <div>
                            <div class="labels">In current portion of LTD (baru ())</div>
                            <div class="audited">N.A.</div>
                            <div class="audited">-</div>
                            <div class="audited">-</div>
                            <div class="proj">100</div>
                            <div class="proj">(100)</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                        </div>
                        <div>
                            <div class="labels">In long-term debts (existing)</div>
                            <div class="audited">N.A.</div>
                            <div class="audited">-</div>
                            <div class="audited">2,240,409</div>
                            <div class="proj">9,259,591</div>
                            <div class="proj">(5,750,000)</div>
                            <div class="proj">(5,750,000)</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                        </div>
                        <div>
                            <div class="labels">In long-term debts (existing ())</div>
                            <div class="audited">N.A.</div>
                            <div class="audited">-</div>
                            <div class="audited">369,790,602</div>
                            <div class="proj">(93,597,649)</div>
                            <div class="proj">(93,597,649)</div>
                            <div class="proj">(93,597,649)</div>
                            <div class="proj">(88,997,655)</div>
                            <div class="proj">-</div>
                        </div>
                        <div>
                            <div class="labels">In long-term debts (new)</div>
                            <div class="audited">N.A.</div>
                            <div class="audited">-</div>
                            <div class="audited">-</div>
                            <div class="proj">11,501,000</div>
                            <div class="proj">(11,501,000)</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                        </div>
                        <div>
                            <div class="labels">In long-term debts (new ())</div>
                            <div class="audited">N.A.</div>
                            <div class="audited">-</div>
                            <div class="audited">-</div>
                            <div class="proj">1,000</div>
                            <div class="proj">(1,000)</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                        </div>
                        <div>
                            <div class="labels">In current portion of LTD already overdue</div>
                            <div class="audited">N.A.</div>
                            <div class="audited">-</div>
                            <div class="audited">-</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                        </div>
                        <div>
                            <div class="labels">In non-current liabilities</div>
                            <div class="audited">N.A.</div>
                            <div class="audited">19,815,483</div>
                            <div class="audited">(6,360,347)</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                        </div>
                        <div>
                            <div class="labels">In common stock</div>
                            <div class="audited">N.A.</div>
                            <div class="audited">-</div>
                            <div class="audited">-</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                        </div>
                        <div>
                            <div class="labels">In additional paid-in capital</div>
                            <div class="audited">N.A.</div>
                            <div class="audited">-</div>
                            <div class="audited">(503,378,282)</div>
                            <div class="proj">503,378,282</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                        </div>
                        <div>
                            <div class="labels">In other equity components</div>
                            <div class="audited">N.A.</div>
                            <div class="audited">(136,175)</div>
                            <div class="audited">(26,491,936)</div>
                            <div class="proj">150,000</div>
                            <div class="proj">150,000</div>
                            <div class="proj">150,000</div>
                            <div class="proj">150,000</div>
                            <div class="proj">150,000</div>
                        </div>
                        <div>
                            <div class="labels">Other adjustments</div>
                            <div class="audited">N.A.</div>
                            <div class="audited">100</div>
                            <div class="audited">100</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                        </div>
                        <div>
                            <div class="labels">Payment of dividend</div>
                            <div class="audited">N.A.</div>
                            <div class="audited">(38,823,629)</div>
                            <div class="audited">(38,823,629)</div>
                            <div class="proj">(43,736,657)</div>
                            <div class="proj">(38,236,008)</div>
                            <div class="proj">(45,732,234)</div>
                            <div class="proj">(52,197,809)</div>
                            <div class="proj">(58,089,927)</div>
                        </div>
                        <div>
                            <div class="labels">Fx gains (losses)</div>
                            <div class="audited">N.A.</div>
                            <div class="audited">2,399,855</div>
                            <div class="audited">(932,700)</div>
                            <div class="proj">3,748,244</div>
                            <div class="proj">2,234,490</div>
                            <div class="proj">2,714,590</div>
                            <div class="proj">2,705,327</div>
                            <div class="proj">2,705,327</div>
                        </div>
                        <div class="total">
                            <div class="labels">NET CASH FLOW FROM FINANCING ACTIVITIES</div>
                            <div class="audited">N.A.</div>
                            <div class="audited">(264,579,671)</div>
                            <div class="audited">1,097,260,854</div>
                            <div class="proj">293,609,553</div>
                            <div class="proj">(148,771,367)</div>
                            <div class="proj">(43,482,293)</div>
                            <div class="proj">(44,090,137)</div>
                            <div class="proj">(48,832,249)</div>
                        </div>
                        <div class="total">
                            <div class="labels">NET INCREASE (DECERASE IN CASH)</div>
                            <div class="audited">N.A.</div>
                            <div class="audited">(264,579,671)</div>
                            <div class="audited">58,023,656</div>
                            <div class="proj">2,086,113,954</div>
                            <div class="proj">17,278,524</div>
                            <div class="proj">146,374,902</div>
                            <div class="proj">167,612,406</div>
                            <div class="proj">187,213,710</div>
                        </div>
                        <div class="total">
                            <div class="labels">CASH - BEGINNING BALANCE</div>
                            <div class="audited">N.A.</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="proj">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,270,041,745</div>
                            <div class="proj">2,416,416,646</div>
                            <div class="proj">2,584,029,052</div>
                        </div>
                        <div class="total">
                            <div class="labels">CASH - ENDING BALANCE</div>
                            <div class="audited">N.A.</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,270,041,745</div>
                            <div class="proj">2,416,416,646</div>
                            <div class="proj">2,584,029,052</div>
                            <div class="proj">2,771,242,762</div>
                        </div>
                        <div class="spacer">
                            <div class="labels">&nbsp;</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <div class="panel-title">
                        <div class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <div class="table">
                                <div class="head">
                                    <div class="labels">
                                        <div>CASH FLOW STATEMENTS (EXC. NEW LOAN) (in IDR Ribuan)</div>
                                    </div>
                                    <div class="audited">
                                        <div>AUDITED</div>
                                        <div>31-Dec-13</div>
                                    </div>
                                    <div class="audited">
                                        <div>AUDITED</div>
                                        <div>31-Dec-14</div>
                                    </div>
                                    <div class="audited">
                                        <div>AUDITED</div>
                                        <div>31-Dec-15</div>
                                    </div>
                                    <div class="proj">
                                        <div>PROJ</div>
                                        <div>31-Dec-16</div>
                                    </div>
                                    <div class="proj">
                                        <div>PROJ</div>
                                        <div>31-Dec-17</div>
                                    </div>
                                    <div class="proj">
                                        <div>PROJ</div>
                                        <div>31-Dec-18</div>
                                    </div>
                                    <div class="proj">
                                        <div>PROJ</div>
                                        <div>31-Dec-19</div>
                                    </div>
                                    <div class="proj">
                                        <div>PROJ</div>
                                        <div>31-Dec-20</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="table alternate">
                        <div>
                            <div class="labels">Std - bank (existing)</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Std - bank (existing ( ))</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Std - bank (new)</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Std - bank (new ( ))</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">New financing needs - unallocated</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Current portion of long term liabilities:</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Banks (existing)</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Banks (existing ( ))</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Other liabilities</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Banks (new)</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Banks (new ( ))</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Other liabilities (new)</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Current portion of ltd already overdue</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Trade payables</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Accrued expenses</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Tax payables</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Sundry cl</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div class="total">
                            <div class="labels">TOTAL CURRENT LIABILITIES</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Long term debts:</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Banks (existing)</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Banks (existing ( ))</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Other liabilities</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Banks (new)</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Banks (new ( ))</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Other liabilities (new)</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Deferred taxes</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Sundry ncl</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div class="total">
                            <div class="labels">TOTAL NON-CURRENT LIABILITIES</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div class="total">
                            <div class="labels">TOTAL LIABILITIES</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Shares issued</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Additional Paid in Capital</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Other reserves</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Retained earnings:</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Previous earnings</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Current earnings</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Other equity components</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div class="spacer">
                            <div class="labels">&nbsp;</div>
                        </div>
                        <div>
                            <div class="labels">Non-controlling interest</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div class="total">
                            <div class="labels">TOTAL EQUITY</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div class="total">
                            <div class="labels">TOTAL LIABILITIES & EQUITY</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <!-- END: Accordion -->
    </div>
}
