@{
    ViewBag.Title = "Bank DKI - Statements of Cash Flows Direct Method";
    ViewBag.Active = "scfDirectMethod";
}

@section header
{
    @Html.Partial("_Header")
}


@section content
{
    <div class="content-wrapper">
        @Html.Partial("_Menus")

        <h2>Statements of Cash Flows Direct Method</h2>
    </div>
}
