@model BankDKI.Models.CreditRatingHistoryModel
@{
    ViewBag.Title = "Bank DKI - Sensitivity And Scenario Analytics";
    ViewBag.Active = "sensitivityScenarioAnalytics";
}

@section header
{
    @Html.Partial("_Header")
}


@section content
{
    <div class="content-wrapper">
        @Html.Partial("_Menus")

        <div class="container">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                <span class="glyphicon glyphicon-minus"></span>
                                ANALYSIS
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <table width="100%" cellpadding="6" cellspacing="6" class="ssa-analysis table-striped table-bordered">
                                <tr>
                                    <th>Sensitivity and Scenario Analysis</th>
                                    <th>Dec-16</th>
                                    <th>Dec-17</th>
                                    <th>Dec-18</th>
                                    <th>Dec-19</th>
                                    <th>Dec-20</th>
                                    <th>Dec-21</th>
                                    <th>Dec-22</th>
                                    <th>Dec-23</th>
                                    <th>Dec-24</th>
                                </tr>
                                <tr>
                                    <td>
                                        <table cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td>
                                                    <p>Variable 1</p>
                                                    <div class="form-group">
                                                        <select class="form-control" id="sel1">
                                                            <option>Int rate - New STD 1 (% p.a.)</option>
                                                            <option>2</option>
                                                            <option>3</option>
                                                            <option>4</option>
                                                        </select>
                                                    </div>
                                                </td>
                                                <td>
                                                    <p>Int rate -<br />New STD 1 (% p.a.)</p>
                                                </td>
                                                <td>
                                                    <div>
                                                        <span class="glyphicon glyphicon-chevron-up"></span>
                                                        <span class="glyphicon glyphicon-chevron-down"></span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>10.75%</td>
                                    <td>10.75%</td>
                                    <td>10.75%</td>
                                    <td>10.75%</td>
                                    <td>10.75%</td>
                                    <td>10.75%</td>
                                    <td>10.75%</td>
                                    <td>10.75%</td>
                                    <td>10.75%</td>
                                </tr>
                                <tr>
                                    <td>
                                        <table cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td>
                                                    <p>Variable 2</p>
                                                    <div class="form-group">
                                                        <select class="form-control" id="sel1">
                                                            <option>Int rate - New LTD 3 ()</option>
                                                            <option>2</option>
                                                            <option>3</option>
                                                            <option>4</option>
                                                        </select>
                                                    </div>
                                                </td>
                                                <td>
                                                    <p>Int rate -<br />New LTD 3 () (% p.a.)</p>
                                                </td>
                                                <td>
                                                    <div>
                                                        <span class="glyphicon glyphicon-chevron-up"></span>
                                                        <span class="glyphicon glyphicon-chevron-down"></span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>9.25%</td>
                                    <td>9.25%</td>
                                    <td>9.25%</td>
                                    <td>9.25%</td>
                                    <td>9.25%</td>
                                    <td>9.25%</td>
                                    <td>9.25%</td>
                                    <td>9.25%</td>
                                    <td>9.25%</td>
                                </tr>
                                <tr>
                                    <td>
                                        <table cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td>
                                                    <p>Variable 3</p>
                                                    <div class="form-group">
                                                        <select class="form-control" id="sel1">
                                                            <option>Int rate - Existing LTD 3 ()</option>
                                                            <option>2</option>
                                                            <option>3</option>
                                                            <option>4</option>
                                                        </select>
                                                    </div>
                                                </td>
                                                <td>
                                                    <p>Int rate -<br />Existing LTD 3 () (% p.a.)</p>
                                                </td>
                                                <td>
                                                    <div>
                                                        <span class="glyphicon glyphicon-chevron-up"></span>
                                                        <span class="glyphicon glyphicon-chevron-down"></span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>5.00%</td>
                                    <td>5.00%</td>
                                    <td>5.00%</td>
                                    <td>5.00%</td>
                                    <td>5.00%</td>
                                    <td>5.00%</td>
                                    <td>5.00%</td>
                                    <td>5.00%</td>
                                    <td>5.00%</td>
                                </tr>
                                <tr>
                                    <th>
                                        <span class="glyphicon glyphicon-chevron-up"></span>
                                        <span class="glyphicon glyphicon-chevron-down"></span>
                                        Select Variables and Ratios
                                    </th>
                                    <th>Dec-16</th>
                                    <th>Dec-17</th>
                                    <th>Dec-18</th>
                                    <th>Dec-19</th>
                                    <th>Dec-20</th>
                                    <th>Dec-21</th>
                                    <th>Dec-22</th>
                                    <th>Dec-23</th>
                                    <th>Dec-24</th>
                                </tr>
                                <tr>
                                    <td>
                                        <table cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td>
                                                    <p>Ratio 1</p>
                                                    <div class="form-group">
                                                        <select class="form-control" id="sel1">
                                                            <option>Sales per Month</option>
                                                            <option>2</option>
                                                            <option>3</option>
                                                            <option>4</option>
                                                        </select>
                                                    </div>
                                                </td>
                                                <td colspan="2">
                                                    <p>Sales per Month</p>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>2,357,950</td>
                                    <td>2,475,848</td>
                                    <td>2,599,640</td>
                                    <td>2,729,622</td>
                                    <td>2,866,103</td>
                                    <td>3,009,409</td>
                                    <td>3,159,879</td>
                                    <td>3,317,873</td>
                                    <td>3,483,767</td>
                                </tr>
                                <tr>
                                    <td>
                                        <table cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td>
                                                    <p>Ratio 2</p>
                                                    <div class="form-group">
                                                        <select class="form-control" id="sel1">
                                                            <option>Total Bank Debt / EBITDA (%)</option>
                                                            <option>2</option>
                                                            <option>3</option>
                                                            <option>4</option>
                                                        </select>
                                                    </div>
                                                </td>
                                                <td colspan="2">
                                                    <p>Total Bank Debt / EBITDA (%)</p>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>70.71%</td>
                                    <td>44.31%</td>
                                    <td>33.72%</td>
                                    <td>24.04%</td>
                                    <td>13.33%</td>
                                    <td>1.61%</td>
                                    <td>1.53%</td>
                                    <td>1.46%</td>
                                    <td>1.39%</td>
                                </tr>
                                <tr>
                                    <td>
                                        <table cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td>
                                                    <p>Ratio 3</p>
                                                    <div class="form-group">
                                                        <select class="form-control" id="sel1">
                                                            <option>Sales per Month</option>
                                                            <option>2</option>
                                                            <option>3</option>
                                                            <option>4</option>
                                                        </select>
                                                    </div>
                                                </td>
                                                <td colspan="2">
                                                    <p>Sales per Month</p>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>2,357,950</td>
                                    <td>2,475,848</td>
                                    <td>2,599,640</td>
                                    <td>2,729,622</td>
                                    <td>2,866,103</td>
                                    <td>3,009,409</td>
                                    <td>3,159,879</td>
                                    <td>3,317,873</td>
                                    <td>3,483,767</td>
                                </tr>
                                <tr>
                                    <td>
                                        <table cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td>
                                                    <p>Ratio 4</p>
                                                    <div class="form-group">
                                                        <select class="form-control" id="sel1">
                                                            <option>Accounts Receivable Turn Over (ARTO) (days)</option>
                                                            <option>2</option>
                                                            <option>3</option>
                                                            <option>4</option>
                                                        </select>
                                                    </div>
                                                </td>
                                                <td colspan="2">
                                                    <p>Accounts Receivable Turn Over (ARTO) (days)</p>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>47</td>
                                    <td>47</td>
                                    <td>47</td>
                                    <td>47</td>
                                    <td>47</td>
                                    <td>47</td>
                                    <td>47</td>
                                    <td>47</td>
                                    <td>47</td>
                                </tr>
                                <tr>
                                    <td>
                                        <table cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td>
                                                    <p>Ratio 5</p>
                                                    <div class="form-group">
                                                        <select class="form-control" id="sel1">
                                                            <option>Sales per Month</option>
                                                            <option>2</option>
                                                            <option>3</option>
                                                            <option>4</option>
                                                        </select>
                                                    </div>
                                                </td>
                                                <td colspan="2">
                                                    <p>Sales per Month</p>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>2,357,950</td>
                                    <td>2,475,848</td>
                                    <td>2,599,640</td>
                                    <td>2,729,622</td>
                                    <td>2,866,103</td>
                                    <td>3,009,409</td>
                                    <td>3,159,879</td>
                                    <td>3,317,873</td>
                                    <td>3,483,767</td>
                                </tr>
                            </table>
                            <ul class="ssa-scenarios">
                                <li>
                                    Scenarios:
                                    <div class="radio">
                                        <label><input type="radio" name="scenarios1">Worst</label>
                                    </div>
                                    <div class="radio">
                                        <label><input type="radio" name="scenarios1">Base</label>
                                    </div>
                                </li>
                                <li>
                                    <button><span>Reset</span> All Variables</button>
                                </li>
                                <li>
                                    <button><span>Reset</span> Variable 1</button>
                                </li>
                                <li>
                                    <button><span>Reset</span> Variable 2</button>
                                </li>
                                <li>
                                    <button><span>Reset</span> Variable 3</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                <span class="glyphicon glyphicon-plus"></span>
                                VARIABLES
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>


                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                <span class="glyphicon glyphicon-plus"></span>
                                TORNADO PROGRAM
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
}

@section scripts{
    @Scripts.Render("~/js/creditAnalysis")
}