@{
    ViewBag.Title = "Bank DKI - Industry Comparison";
    ViewBag.Active = "industryComparison";
}

@section header
{
    @Html.Partial("_Header")
}

@section content
{
    <div class="content-wrapper">
        @Html.Partial("_Menus")

        <!-- Client Details -->
        <div class="clientDetails bordered">
            <div class="table center alternate">
                <div class="head">
                    <div>Name</div>
                    <div>Details</div>
                    <div>Details</div>
                    <div>Details</div>
                    <div>Details</div>
                </div>
                <div>
                    <div>Client 1</div>
                    <div>Details</div>
                    <div>Details</div>
                    <div>Details</div>
                    <div>Details</div>
                </div>
                <div>
                    <div>Client 1</div>
                    <div>Details</div>
                    <div>Details</div>
                    <div>Details</div>
                    <div>Details</div>
                </div>
                <div>
                    <div>Client 1</div>
                    <div>Details</div>
                    <div>Details</div>
                    <div>Details</div>
                    <div>Details</div>
                </div>
            </div>
        </div>
        <!-- END: Client Details -->

        <!-- Graph -->
        <div class="graph">
            <img src="~/Content/images/graph_IndustryComparison.jpg" alt="Graph" />
        </div>
        <!-- END: Graph -->
    </div>
}
