/* STRUCTURE */
.main-context-box {
    border: #6d6d6d solid 1px;
    margin-bottom: 30px;
    padding: 20px;
}

/* TABLE */
#comparison-table {
    display: table;
    font-family: "ITC Avant Garde Gothic Std Book",Arial,sans-serif;
    font-size: 14px;
    text-align: center;
}

.cmp-tab-head { display: table-header-group; }
.cmp-tab-row { display: table-row-group; }
.cmp-tab-cell { display: table-cell; }

.cmp-tab-head, .cmp-tab-row {
    width: 100%;
}
.cmp-tab-head .cmp-tab-cell {
    background: #6d6d6d;
    border: #ffffff solid 1px;
    color: #ffffff;
    padding: 10px 20px;
}
.cmp-tab-head .cmp-tab-cell .year-label {
    display: block;
    width: 100%;
}

.cmp-tab-row .cmp-tab-cell {
    border: #000000 solid 1px;
}

.row-head {
    background: transparent !important;
    border: none !important;
    min-width: 455px; 
    text-align: left;
}

.section-head {
    border: none !important;
    padding-top: 10px;
    text-align: left;
}