#creditAnalysis .ca-heading {
  background: #1BA6DD;
  padding: 20px;
}
#creditAnalysis .ca-heading h3 {
  font-size: 14px;
  color: #fff;
}
#creditAnalysis .ca-content {
  font-size: 12px;
}
#creditAnalysis .ca-content .table-striped > tbody > tr:nth-of-type(odd) {
  background: #e4e4e4;
}
#creditAnalysis .ca-content .table-striped > tbody > tr:nth-of-type(even) {
  background: #eeeeee;
}
#creditAnalysis .ca-content table {
  width: 100%;
}
#creditAnalysis .ca-content table tr th {
  background: #898989;
  text-align: center;
  color: #fff;
  padding: 6px 0;
}
#creditAnalysis .ca-content table tr td:first-child {
  width: 190px;
}
#creditAnalysis .ca-content table tr td:nth-child(2) {
  width: 200px;
}
#creditAnalysis .ca-content table tr td:last-child {
  width: 160px;
}
#creditAnalysis .ca-content table tr td {
  text-align: center;
  padding: 6px 0;
}
#creditAnalysis .ca-content table tr td ul {
  list-style: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
}
#creditAnalysis .ca-content .ca-graph {
  border: 1px solid #eee;
  margin-top: 12px;
}
#creditAnalysis .ca-content .ca-graph tr th {
  padding: 20px 0;
  font-size: 14px;
}
#creditAnalysis .ca-content .ca-graph tr:nth-child(2) td:nth-child(2) {
  border-left: 1px solid #eee;
  font-size: 50px;
}
#creditAnalysis .ca-content .ca-graph .ca-graph-results ul {
  margin: 12px 24px;
}
#creditAnalysis .ca-content .ca-graph .ca-graph-results ul li:nth-child(2) {
  clear: both;
}
#creditAnalysis .ca-content .ca-graph .ca-graph-results ul li:nth-child(2) .ca-graph-col-2 .progress .progress-bar {
  background: #fda402;
}
#creditAnalysis .ca-content .ca-graph .ca-graph-results ul li {
  display: block;
  text-align: left;
}
#creditAnalysis .ca-content .ca-graph .ca-graph-results ul li .ca-graph-col-1,
#creditAnalysis .ca-content .ca-graph .ca-graph-results ul li .ca-graph-col-3 {
  float: left;
  width: 15%;
}
#creditAnalysis .ca-content .ca-graph .ca-graph-results ul li .ca-graph-col-2 {
  float: left;
  width: 70%;
}
#creditAnalysis .ca-content .ca-graph .ca-graph-results ul li .ca-graph-col-3 {
  padding-left: 6px;
}
#creditAnalysis .ca-content .ca-graph .ca-graph-results ul li .ca-total-result-number {
  clear: both;
  text-align: left;
  font-size: 14px;
}
#creditAnalysis .ca-content .ca-graph .ca-graph-results ul li .ca-total-result-number span {
  display: block;
  font-size: 16px;
}
#creditAnalysis .ca-content .ca-bottom-table {
  border: 1px solid #eee;
  margin-top: 12px;
}
#creditAnalysis .ca-content .ca-bottom-table tr td {
  text-align: left;
  padding: 20px;
}
#creditAnalysis .ca-content .ca-bottom-table .ca-total-result-number {
  text-align: left;
  font-size: 14px;
}
#creditAnalysis .ca-content .ca-bottom-table .ca-total-result-number span {
  display: block;
  font-size: 16px;
}
#creditAnalysis .ca-processing-buttons {
  text-align: center;
  margin: 20px 0;
}
#creditAnalysis .ca-processing-buttons button {
  display: inline-block;
  background: #2aae74;
  border: 1px solid #2aae74;
  border-radius: 3px;
  text-transform: uppercase;
  padding: 12px;
  font-size: 14px;
  color: #fff;
  width: 150px;
  margin: 0 6px;
}
#creditAnalysis .ca-processing-buttons button:disabled {
  background: #75c9a5;
  border: 1px solid #75c9a5;
}
#creditAnalysis .applied-loan-amount-container {
  height: 80px;
}
#creditAnalysis .applied-loan-amount-container .applied-loan {
  font-size: 14px;
  color: #6d6d6d;
}
#creditAnalysis .applied-loan-amount-container .applied-label.col-md-6 > span {
  float: right;
  text-align: right;
  width: 100%;
}
#creditAnalysis .applied-loan-amount-container .applied-amount.col-md-6 > span {
  float: left;
  text-align: left;
  width: 100%;
}
#creditAnalysis .credit-rating-container {
  height: 290px;
  margin-top: 12px;
}
#creditAnalysis .credit-rating-container .credit-rating {
  height: auto;
  padding: 0;
}
#creditAnalysis .credit-rating-container .credit-rating .credit-btn-container {
  margin-top: 12px;
  display: block;
}
#creditAnalysis .credit-rating-container .credit-rating .credit-rating-label {
  font-size: 15px;
  color: #6d6d6d;
  text-align: center;
}
#creditAnalysis .credit-rating-container .credit-rating .credit-rating-score {
  font-size: 60px;
  text-align: center;
}
#creditAnalysis .credit-rating-container .credit-rating .credit-rating-date {
  font-size: 15px;
  text-align: center;
}
#creditAnalysis .credit-rating-container .credit-rating .btn.btn-blue {
  width: 430px;
  margin-bottom: 12px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}
#creditAnalysis .credit-rating-container .credit-rating .table {
  height: 255px;
}
#creditAnalysis .credit-rating-container .credit-rating .table > div > div:first-child {
  width: 230px;
}
#creditAnalysis .credit-rating-container .credit-rating .table div {
  line-height: 35px;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  width: 300px;
}
#creditAnalysis .credit-rating-container .credit-rating .rate-container {
  background: #e0e0e0;
  border-radius: 15px;
  height: 30px;
  color: #ffffff;
}
#creditAnalysis .credit-rating-container .credit-rating .rate-container .payment-history-rate {
  background: #1ba6dd;
  border-radius: 15px;
  height: 30px;
  margin-left: 0 !important;
  width: 200px !important;
  text-align: left;
  text-indent: 20px;
}
#creditAnalysis .credit-rating-container .credit-rating .rate-container .amount-debt-rate {
  background: #eaa10f;
  border-radius: 15px;
  height: 30px;
  margin-left: 0 !important;
  width: 150px !important;
  text-align: left;
  text-indent: 20px;
}
#creditAnalysis .credit-rating-container .credit-rating .rate-container .length-credit-rate {
  background: #2baf73;
  border-radius: 15px;
  height: 30px;
  margin-left: 0 !important;
  width: 250px !important;
  text-align: left;
  text-indent: 20px;
}
#creditAnalysis .payment-details {
  margin-top: 12px;
}
#creditAnalysis #creditAnalysisReport {
  padding-top: 20px;
  float: left;
}
#creditAnalysis #creditAnalysisReport h1,
#creditAnalysis #creditAnalysisReport h3 {
  margin-bottom: 20px;
}
#creditAnalysis #creditAnalysisReport > h3:first-child {
  background: #e0e0e0;
  height: 50px;
  line-height: 50px;
}
#creditAnalysis #creditAnalysisReport .credit-rating-report {
  width: 370px;
  float: left;
  text-align: center;
  height: 208px;
}
#creditAnalysis #creditAnalysisReport .credit-rating-report > span {
  display: block;
  font-size: 15px;
}
#creditAnalysis #creditAnalysisReport .credit-rating-report > span:nth-child(3) {
  font-size: 60px;
}
#creditAnalysis #creditAnalysisReport .credit-description {
  width: 770px;
  margin-left: 20px;
  float: left;
  height: 208px;
}
#creditAnalysis #creditAnalysisReport .credit-description > span {
  background: #e0e0e0;
  display: block;
  padding: 10px 30px;
}
#creditAnalysis #creditAnalysisReport .credit-description > textarea {
  padding: 30px 30px 0;
  width: 100%;
  border: none;
  font-family: 'ITC Avant Garde Gothic Std Demi', Arial, sans-serif;
  font-size: 14px;
  resize: none;
}
#creditAnalysis #creditAnalysisReport .credit-description hr {
  background: #b7b7b7;
  float: left;
  height: 2px;
  margin-top: 0;
  width: 720px;
  margin-left: 25px;
  margin-bottom: 0;
}
#creditAnalysis #creditAnalysisReport .payment-history-report {
  float: left;
  width: 370px;
  padding-bottom: 0;
}
#creditAnalysis #creditAnalysisReport .payment-history-report > div:nth-child(2) {
  background: #e0e0e0;
  border-radius: 15px;
  float: right;
  font-size: 12px;
  margin-left: 45px;
  text-indent: 10px;
  width: 120px;
}
#creditAnalysis #creditAnalysisReport .payment-history-report > div:nth-child(2) > div {
  background: #1ba6dd;
  border-radius: 15px;
  width: 65px;
  color: #ffffff;
}
#creditAnalysis #creditAnalysisReport .payment-history-report > h5 {
  float: left;
}
#creditAnalysis #creditAnalysisReport .payment-history-report > textarea {
  float: left;
  margin-top: 15px;
  text-align: left;
  width: 100%;
  border: none;
  font-family: 'ITC Avant Garde Gothic Std Demi', Arial, sans-serif;
  font-size: 14px;
  resize: none;
  height: 80px;
}
#creditAnalysis #creditAnalysisReport .payment-history-report hr {
  background: #b7b7b7;
  float: left;
  height: 2px;
  width: 100%;
  margin: 0;
}
#creditAnalysis #creditAnalysisReport .amount-debit-report {
  float: left;
  margin-left: 25px;
  margin-right: 25px;
  width: 370px;
  padding-bottom: 0;
}
#creditAnalysis #creditAnalysisReport .amount-debit-report > div:nth-child(2) {
  background: #e0e0e0;
  border-radius: 15px;
  float: right;
  font-size: 12px;
  margin-left: 45px;
  text-indent: 10px;
  width: 120px;
}
#creditAnalysis #creditAnalysisReport .amount-debit-report > div:nth-child(2) > div {
  background: #eaa10f;
  border-radius: 15px;
  width: 80px;
  color: #ffffff;
}
#creditAnalysis #creditAnalysisReport .amount-debit-report > h5 {
  float: left;
}
#creditAnalysis #creditAnalysisReport .amount-debit-report > textarea {
  float: left;
  margin-top: 15px;
  text-align: left;
  width: 100%;
  border: none;
  font-family: 'ITC Avant Garde Gothic Std Demi', Arial, sans-serif;
  font-size: 14px;
  resize: none;
  height: 80px;
}
#creditAnalysis #creditAnalysisReport .amount-debit-report hr {
  background: #b7b7b7;
  float: left;
  height: 2px;
  width: 100%;
  margin: 0;
}
#creditAnalysis #creditAnalysisReport .length-credit-history {
  float: left;
  width: 370px;
  padding-bottom: 0;
}
#creditAnalysis #creditAnalysisReport .length-credit-history > div:nth-child(2) {
  background: #e0e0e0;
  border-radius: 15px;
  float: right;
  font-size: 12px;
  margin-left: 5px;
  text-indent: 10px;
  width: 120px;
}
#creditAnalysis #creditAnalysisReport .length-credit-history > div:nth-child(2) > div {
  background: #2baf73;
  border-radius: 15px;
  width: 100px;
  color: #ffffff;
}
#creditAnalysis #creditAnalysisReport .length-credit-history > h5 {
  float: left;
}
#creditAnalysis #creditAnalysisReport .length-credit-history > textarea {
  float: left;
  margin-top: 15px;
  text-align: left;
  width: 100%;
  border: none;
  font-family: 'ITC Avant Garde Gothic Std Demi', Arial, sans-serif;
  font-size: 14px;
  resize: none;
  height: 80px;
}
#creditAnalysis #creditAnalysisReport .length-credit-history hr {
  background: #b7b7b7;
  float: left;
  height: 2px;
  width: 100%;
  margin: 0;
}
#creditAnalysis #creditAnalysisReport > hr {
  margin-bottom: 25px;
  margin-top: 10px;
  border: 2px solid #4f4f4f;
  float: left;
  width: 100%;
}
#creditAnalysis #creditAnalysisReport > div {
  float: left;
  margin-bottom: 20px;
}
#creditAnalysis #creditAnalysisReport textarea {
  margin-bottom: 5px;
  resize: none;
}
#creditAnalysis #creditAnalysisReport .glyphicon.glyphicon-edit,
#creditAnalysis #creditAnalysisReport .glyphicon.glyphicon-save {
  color: #6d6d6d;
}
#creditAnalysis #creditAnalysisReport #Comments {
  float: left;
  height: 120px;
  width: 1160px;
  font-size: 14px;
  border: 1px solid #b7b7b7;
}
#creditAnalysis .modal .modal-dialog {
  width: 375px;
  top: 30%;
}
#creditAnalysis .modal .modal-dialog .modal-header {
  background: #eaa10f;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#creditAnalysis .modal .modal-dialog .modal-header .modal-title {
  color: #ffffff;
}
#creditAnalysis .modal .modal-dialog .modal-header button.close {
  color: #ffffff;
  font-size: 28px;
  opacity: 1;
}
#creditAnalysis .modal .modal-dialog .modal-footer {
  background: #e0e0e0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
#creditAnalysis .modal .modal-dialog .modal-footer .btn.btn-default {
  color: #6d6d6d;
  text-transform: none;
  font-size: 16px;
  line-height: 35px;
  min-width: 110px;
  border-radius: 5px;
}
#creditAnalysis .modal .modal-dialog .modal-body {
  padding: 30px;
}
#creditAnalysis .btn-edit-save {
  float: right;
  font-size: 24px;
  margin: 5px 25px 0 5px;
  cursor: pointer;
}
