#financialProjection .banner {
  margin-bottom: 20px;
}
#financialProjection .banner h2 {
  font-family: 'ITC Avant Garde Gothic Std Medium', Arial, sans-serif;
  margin-top: 20px;
}
#financialProjection .banner p {
  font-family: 'ITC Avant Garde Gothic Std Book', Arial, sans-serif;
}
#financialProjection .incomeStatement {
  width: 433px;
  margin-right: 25px;
}
#financialProjection .incomeStatement .header {
  margin-bottom: 15px;
}
#financialProjection .incomeStatement .incomeStatementTable {
  margin: 0 0 20px 20px;
  border-bottom: 4px solid #4f4f4f;
}
#financialProjection .incomeStatement .incomeStatementTable .table > div > div {
  font-size: 10px;
}
#financialProjection .incomeStatement .incomeStatementTable .table > div > div:not(:first-child) {
  text-align: right;
}
#financialProjection .incomeStatement .sourceCurrencyTable {
  margin-left: 20px;
}
#financialProjection .incomeStatement .sourceCurrencyTable .table {
  margin-bottom: 10px;
}
#financialProjection .incomeStatement .sourceCurrencyTable .table > div.topBorder > div:not(:first-child) {
  border-top: 1px solid #4f4f4f;
}
#financialProjection .incomeStatement .sourceCurrencyTable .table > div > div {
  font-size: 10px;
}
#financialProjection .incomeStatement .sourceCurrencyTable .table > div > div:not(:first-child) {
  text-align: right;
  width: 9%;
}
#financialProjection .futurePayments {
  width: 670px;
}
#financialProjection .futurePayments h3 {
  padding: 15px 0;
}
#financialProjection .futurePayments img {
  width: 100%;
}
#financialProjection .graph h3 {
  padding: 15px 0;
}
