#financialRatios h2 {
  margin-bottom: 40px;
  text-transform: uppercase;
}
#financialRatios p {
  margin-bottom: 10px;
}
#financialRatios #financialratio-table {
  border-collapse: collapse;
  display: table;
  font-family: 'ITC Avant Garde Gothic Std Book', Arial, sans-serif;
  font-size: 14px;
  text-align: center;
}
#financialRatios #financialratio-table div {
  text-align: right;
  padding-right: 7px;
}
#financialRatios #financialratio-table div.head .labels {
  background: #727272;
}
#financialRatios #financialratio-table div.head .labels div {
  line-height: normal;
  text-align: left;
}
#financialRatios #financialratio-table div.head .audited {
  background: #9E9E9E;
}
#financialRatios #financialratio-table div.head .audited div:first-child {
  font-size: 15px;
}
#financialRatios #financialratio-table div.head .audited div:last-child {
  font-family: 'ITC Avant Garde Gothic Std Medium', Arial, sans-serif;
  font-size: 12px;
}
#financialRatios #financialratio-table div.head .proj {
  background: #1BA6DD;
}
#financialRatios #financialratio-table div.head .proj div:first-child {
  font-size: 15px;
}
#financialRatios #financialratio-table div.head .proj div:last-child {
  font-family: 'ITC Avant Garde Gothic Std Medium', Arial, sans-serif;
  font-size: 12px;
}
#financialRatios #financialratio-table div.head > div:not(.labels) {
  width: 100px;
  text-align: right;
}
#financialRatios #financialratio-table div.head > div:not(.labels) div {
  line-height: normal;
}
#financialRatios #financialratio-table div.section-break {
  background: #ffffff;
  height: 10px;
}
#financialRatios #financialratio-table div.section-head {
  background: #6d6d6d;
  margin-top: 10px;
}
#financialRatios #financialratio-table div.section-head div {
  color: #ffffff;
}
#financialRatios #financialratio-table div.section-head div:first-child {
  text-transform: uppercase;
}
#financialRatios #financialratio-table > div > div:first-child {
  font-family: 'ITC Avant Garde Gothic Std Demi', Arial, sans-serif;
  padding-left: 15px;
  text-align: left;
}
