#sensitivityScenarioAnalysis p {
  font-size: 12px;
}
#sensitivityScenarioAnalysis .panel-group .panel {
  border: 0;
}
#sensitivityScenarioAnalysis .panel-group .panel-heading {
  background: #727272;
  color: #fff;
  padding: 20px;
}
#sensitivityScenarioAnalysis .panel-group .panel-body {
  padding: 3px 0 0 0;
}
#sensitivityScenarioAnalysis .ssa-analysis.table-bordered > tbody > tr > td,
#sensitivityScenarioAnalysis .ssa-analysis.table-bordered > tbody > tr > th,
#sensitivityScenarioAnalysis .ssa-analysis.table-bordered > tfoot > tr > td,
#sensitivityScenarioAnalysis .ssa-analysis.table-bordered > tfoot > tr > th,
#sensitivityScenarioAnalysis .ssa-analysis.table-bordered > thead > tr > td,
#sensitivityScenarioAnalysis .ssa-analysis.table-bordered > thead > tr > th {
  border: 1px solid #fefefe;
}
#sensitivityScenarioAnalysis .ssa-analysis tr {
  font-size: 12px;
}
#sensitivityScenarioAnalysis .ssa-analysis tr td {
  text-align: center;
  background: #ededed;
}
#sensitivityScenarioAnalysis .ssa-analysis tr th {
  font-size: 14px;
  padding: 24px 0;
  text-align: center;
  color: #fff;
  background: #1BA6DD;
}
#sensitivityScenarioAnalysis .ssa-analysis tr th:first-child {
  background: #898989;
}
#sensitivityScenarioAnalysis .ssa-analysis tr:nth-child(n+2) td table {
  width: 100%;
}
#sensitivityScenarioAnalysis .ssa-analysis tr:nth-child(n+2) td table tr td:first-child {
  padding-left: 6px;
}
#sensitivityScenarioAnalysis .ssa-analysis tr:nth-child(n+2) td table tr td:first-child,
#sensitivityScenarioAnalysis .ssa-analysis tr:nth-child(n+2) td table tr td:nth-child(2) {
  width: 115px;
}
#sensitivityScenarioAnalysis .ssa-analysis tr:nth-child(n+2) td table tr td:last-child {
  width: 20px;
  padding-right: 6px;
}
#sensitivityScenarioAnalysis .ssa-analysis tr:nth-child(n+6) td table {
  width: 100%;
}
#sensitivityScenarioAnalysis .ssa-analysis tr:nth-child(n+6) td table tr td:first-child {
  width: 145px;
  padding-left: 6px;
}
#sensitivityScenarioAnalysis .ssa-analysis tr:nth-child(n+6) td table tr td:last-child {
  width: 20px;
  padding-right: 6px;
}
#sensitivityScenarioAnalysis .ssa-scenarios {
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 3px;
}
#sensitivityScenarioAnalysis .ssa-scenarios li {
  display: inline-block;
}
#sensitivityScenarioAnalysis .ssa-scenarios li button {
  background: #fff;
  padding: 19px;
  font-size: 14px;
  border: 1px solid #1BA6DD;
  width: 201px;
}
#sensitivityScenarioAnalysis .ssa-scenarios li button span {
  color: #1BA6DD;
  font-weight: bold;
}
#sensitivityScenarioAnalysis .ssa-scenarios li:first-child {
  width: 311px;
  background: #898989;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  color: #fff;
}
#sensitivityScenarioAnalysis .ssa-scenarios li:first-child .radio {
  display: inline;
}
#sensitivityScenarioAnalysis .applied-loan-amount-container {
  height: 80px;
}
#sensitivityScenarioAnalysis .applied-loan-amount-container .applied-loan {
  font-size: 14px;
  color: #6d6d6d;
}
#sensitivityScenarioAnalysis .applied-loan-amount-container .applied-label.col-md-6 > span {
  float: right;
  text-align: right;
  width: 100%;
}
#sensitivityScenarioAnalysis .applied-loan-amount-container .applied-amount.col-md-6 > span {
  float: left;
  text-align: left;
  width: 100%;
}
#sensitivityScenarioAnalysis .credit-rating-container {
  height: 290px;
  margin-top: 12px;
}
#sensitivityScenarioAnalysis .credit-rating-container .credit-rating {
  height: auto;
  padding: 0;
}
#sensitivityScenarioAnalysis .credit-rating-container .credit-rating .credit-btn-container {
  margin-top: 12px;
  display: block;
}
#sensitivityScenarioAnalysis .credit-rating-container .credit-rating .credit-rating-label {
  font-size: 15px;
  color: #6d6d6d;
  text-align: center;
}
#sensitivityScenarioAnalysis .credit-rating-container .credit-rating .credit-rating-score {
  font-size: 60px;
  text-align: center;
}
#sensitivityScenarioAnalysis .credit-rating-container .credit-rating .credit-rating-date {
  font-size: 15px;
  text-align: center;
}
#sensitivityScenarioAnalysis .credit-rating-container .credit-rating .btn.btn-blue {
  width: 430px;
  margin-bottom: 12px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}
#sensitivityScenarioAnalysis .credit-rating-container .credit-rating .table {
  height: 255px;
}
#sensitivityScenarioAnalysis .credit-rating-container .credit-rating .table > div > div:first-child {
  width: 230px;
}
#sensitivityScenarioAnalysis .credit-rating-container .credit-rating .table div {
  line-height: 35px;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  width: 300px;
}
#sensitivityScenarioAnalysis .credit-rating-container .credit-rating .rate-container {
  background: #e0e0e0;
  border-radius: 15px;
  height: 30px;
  color: #ffffff;
}
#sensitivityScenarioAnalysis .credit-rating-container .credit-rating .rate-container .payment-history-rate {
  background: #1ba6dd;
  border-radius: 15px;
  height: 30px;
  margin-left: 0 !important;
  width: 200px !important;
  text-align: left;
  text-indent: 20px;
}
#sensitivityScenarioAnalysis .credit-rating-container .credit-rating .rate-container .amount-debt-rate {
  background: #eaa10f;
  border-radius: 15px;
  height: 30px;
  margin-left: 0 !important;
  width: 150px !important;
  text-align: left;
  text-indent: 20px;
}
#sensitivityScenarioAnalysis .credit-rating-container .credit-rating .rate-container .length-credit-rate {
  background: #2baf73;
  border-radius: 15px;
  height: 30px;
  margin-left: 0 !important;
  width: 250px !important;
  text-align: left;
  text-indent: 20px;
}
#sensitivityScenarioAnalysis .payment-details {
  margin-top: 12px;
}
#sensitivityScenarioAnalysis #creditAnalysisReport {
  padding-top: 20px;
  float: left;
}
#sensitivityScenarioAnalysis #creditAnalysisReport h1,
#sensitivityScenarioAnalysis #creditAnalysisReport h3 {
  margin-bottom: 20px;
}
#sensitivityScenarioAnalysis #creditAnalysisReport > h3:first-child {
  background: #e0e0e0;
  height: 50px;
  line-height: 50px;
}
#sensitivityScenarioAnalysis #creditAnalysisReport .credit-rating-report {
  width: 370px;
  float: left;
  text-align: center;
  height: 208px;
}
#sensitivityScenarioAnalysis #creditAnalysisReport .credit-rating-report > span {
  display: block;
  font-size: 15px;
}
#sensitivityScenarioAnalysis #creditAnalysisReport .credit-rating-report > span:nth-child(3) {
  font-size: 60px;
}
#sensitivityScenarioAnalysis #creditAnalysisReport .credit-description {
  width: 770px;
  margin-left: 20px;
  float: left;
  height: 208px;
}
#sensitivityScenarioAnalysis #creditAnalysisReport .credit-description > span {
  background: #e0e0e0;
  display: block;
  padding: 10px 30px;
}
#sensitivityScenarioAnalysis #creditAnalysisReport .credit-description > textarea {
  padding: 30px 30px 0;
  width: 100%;
  border: none;
  font-family: 'ITC Avant Garde Gothic Std Demi', Arial, sans-serif;
  font-size: 14px;
  resize: none;
}
#sensitivityScenarioAnalysis #creditAnalysisReport .credit-description hr {
  background: #b7b7b7;
  float: left;
  height: 2px;
  margin-top: 0;
  width: 720px;
  margin-left: 25px;
  margin-bottom: 0;
}
#sensitivityScenarioAnalysis #creditAnalysisReport .payment-history-report {
  float: left;
  width: 370px;
  padding-bottom: 0;
}
#sensitivityScenarioAnalysis #creditAnalysisReport .payment-history-report > div:nth-child(2) {
  background: #e0e0e0;
  border-radius: 15px;
  float: right;
  font-size: 12px;
  margin-left: 45px;
  text-indent: 10px;
  width: 120px;
}
#sensitivityScenarioAnalysis #creditAnalysisReport .payment-history-report > div:nth-child(2) > div {
  background: #1ba6dd;
  border-radius: 15px;
  width: 65px;
  color: #ffffff;
}
#sensitivityScenarioAnalysis #creditAnalysisReport .payment-history-report > h5 {
  float: left;
}
#sensitivityScenarioAnalysis #creditAnalysisReport .payment-history-report > textarea {
  float: left;
  margin-top: 15px;
  text-align: left;
  width: 100%;
  border: none;
  font-family: 'ITC Avant Garde Gothic Std Demi', Arial, sans-serif;
  font-size: 14px;
  resize: none;
  height: 80px;
}
#sensitivityScenarioAnalysis #creditAnalysisReport .payment-history-report hr {
  background: #b7b7b7;
  float: left;
  height: 2px;
  width: 100%;
  margin: 0;
}
#sensitivityScenarioAnalysis #creditAnalysisReport .amount-debit-report {
  float: left;
  margin-left: 25px;
  margin-right: 25px;
  width: 370px;
  padding-bottom: 0;
}
#sensitivityScenarioAnalysis #creditAnalysisReport .amount-debit-report > div:nth-child(2) {
  background: #e0e0e0;
  border-radius: 15px;
  float: right;
  font-size: 12px;
  margin-left: 45px;
  text-indent: 10px;
  width: 120px;
}
#sensitivityScenarioAnalysis #creditAnalysisReport .amount-debit-report > div:nth-child(2) > div {
  background: #eaa10f;
  border-radius: 15px;
  width: 80px;
  color: #ffffff;
}
#sensitivityScenarioAnalysis #creditAnalysisReport .amount-debit-report > h5 {
  float: left;
}
#sensitivityScenarioAnalysis #creditAnalysisReport .amount-debit-report > textarea {
  float: left;
  margin-top: 15px;
  text-align: left;
  width: 100%;
  border: none;
  font-family: 'ITC Avant Garde Gothic Std Demi', Arial, sans-serif;
  font-size: 14px;
  resize: none;
  height: 80px;
}
#sensitivityScenarioAnalysis #creditAnalysisReport .amount-debit-report hr {
  background: #b7b7b7;
  float: left;
  height: 2px;
  width: 100%;
  margin: 0;
}
#sensitivityScenarioAnalysis #creditAnalysisReport .length-credit-history {
  float: left;
  width: 370px;
  padding-bottom: 0;
}
#sensitivityScenarioAnalysis #creditAnalysisReport .length-credit-history > div:nth-child(2) {
  background: #e0e0e0;
  border-radius: 15px;
  float: right;
  font-size: 12px;
  margin-left: 5px;
  text-indent: 10px;
  width: 120px;
}
#sensitivityScenarioAnalysis #creditAnalysisReport .length-credit-history > div:nth-child(2) > div {
  background: #2baf73;
  border-radius: 15px;
  width: 100px;
  color: #ffffff;
}
#sensitivityScenarioAnalysis #creditAnalysisReport .length-credit-history > h5 {
  float: left;
}
#sensitivityScenarioAnalysis #creditAnalysisReport .length-credit-history > textarea {
  float: left;
  margin-top: 15px;
  text-align: left;
  width: 100%;
  border: none;
  font-family: 'ITC Avant Garde Gothic Std Demi', Arial, sans-serif;
  font-size: 14px;
  resize: none;
  height: 80px;
}
#sensitivityScenarioAnalysis #creditAnalysisReport .length-credit-history hr {
  background: #b7b7b7;
  float: left;
  height: 2px;
  width: 100%;
  margin: 0;
}
#sensitivityScenarioAnalysis #creditAnalysisReport > hr {
  margin-bottom: 25px;
  margin-top: 10px;
  border: 2px solid #4f4f4f;
  float: left;
  width: 100%;
}
#sensitivityScenarioAnalysis #creditAnalysisReport > div {
  float: left;
  margin-bottom: 20px;
}
#sensitivityScenarioAnalysis #creditAnalysisReport textarea {
  margin-bottom: 5px;
  resize: none;
}
#sensitivityScenarioAnalysis #creditAnalysisReport .glyphicon.glyphicon-edit,
#sensitivityScenarioAnalysis #creditAnalysisReport .glyphicon.glyphicon-save {
  color: #6d6d6d;
}
#sensitivityScenarioAnalysis #creditAnalysisReport #Comments {
  float: left;
  height: 120px;
  width: 1160px;
  font-size: 14px;
  border: 1px solid #b7b7b7;
}
#sensitivityScenarioAnalysis .modal .modal-dialog {
  width: 375px;
  top: 30%;
}
#sensitivityScenarioAnalysis .modal .modal-dialog .modal-header {
  background: #eaa10f;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#sensitivityScenarioAnalysis .modal .modal-dialog .modal-header .modal-title {
  color: #ffffff;
}
#sensitivityScenarioAnalysis .modal .modal-dialog .modal-header button.close {
  color: #ffffff;
  font-size: 28px;
  opacity: 1;
}
#sensitivityScenarioAnalysis .modal .modal-dialog .modal-footer {
  background: #e0e0e0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
#sensitivityScenarioAnalysis .modal .modal-dialog .modal-footer .btn.btn-default {
  color: #6d6d6d;
  text-transform: none;
  font-size: 16px;
  line-height: 35px;
  min-width: 110px;
  border-radius: 5px;
}
#sensitivityScenarioAnalysis .modal .modal-dialog .modal-body {
  padding: 30px;
}
#sensitivityScenarioAnalysis .btn-edit-save {
  float: right;
  font-size: 24px;
  margin: 5px 25px 0 5px;
  cursor: pointer;
}
