.content-wrapper {
  width: 1160px;
  margin: 0 auto;
  background: #ffffff;
}
.col {
  padding: 0;
}
#header {
  background: #ffffff;
  height: 100px;
  border-bottom: 2px solid #4f4f4f;
  margin-bottom: 75px;
}
#header h1 {
  margin-top: 40px;
}
#header .log {
  margin-top: 60px;
  text-align: right;
}
#header .log a {
  margin-left: 30px;
}
.header {
  background: #898989;
  color: #ffffff;
}
.red {
  color: #da2126 !important;
}
.white {
  color: #ffffff;
}
.text-underline {
  text-decoration: underline;
}
.text-no-underline {
  text-decoration: none;
}
nav {
  margin-bottom: 30px;
}
nav ul {
  width: 100%;
  margin: 0;
  padding: 0;
}
nav ul li {
  width: 16.59%;
  list-style: none;
  float: left;
  margin-left: 1px;
  text-align: center;
}
nav ul li:first-child {
  margin-left: 0;
}
nav ul li.active a {
  position: relative;
  background: #da2126;
}
nav ul li.active a:before {
  content: '';
  width: 20px;
  height: 20px;
  background: #da2126;
  position: absolute;
  left: 50%;
  margin-left: -15px;
  bottom: -10px;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
nav ul li a {
  line-height: 50px;
  background: #4f4f4f;
  color: #ffffff;
  font-size: 13px;
  display: block;
  width: 100%;
  text-transform: uppercase;
}
nav ul li a:hover {
  background: #da2126;
  color: #ffffff;
}
.bordered {
  border: 1px solid #b7b7b7;
}
.contentPadding {
  padding: 15px;
}
.table {
  display: table;
  margin-bottom: 0;
}
.table > div {
  display: table-row;
}
.table > div > div {
  font-family: 'ITC Avant Garde Gothic Std Book', Arial, sans-serif;
  font-size: 14px;
  line-height: 17px;
  display: table-cell;
  padding: 4px;
  color: #6d6d6d;
}
.table > div.head div {
  font-family: 'ITC Avant Garde Gothic Std Demi', Arial, sans-serif;
  background: #898989;
  border-left: 1px solid #ffffff;
  font-size: 16px;
  color: #ffffff;
  line-height: 32px;
}
.table > div.head div:first-child {
  border-left: none;
}
.table.center {
  text-align: center;
}
.table.alternate > div:nth-child(odd) {
  background: #ededed;
}
