@{
    ViewBag.Title = "Bank DKI - Financial Statements Combination";
    ViewBag.Active = "fsCombination";
}

@section header
{
    @Html.Partial("_Header")
}


@section content
{
    <div class="content-wrapper">
        @Html.Partial("_Menus")

        <h2>Financial Statements Combination</h2>
    </div>
}
