@{
    ViewBag.Title = "Bank DKI - Financial Statements Stand Alone";
    ViewBag.Active = "fsStandAlone";
}

@section header
{
    @Html.Partial("_Header")
}


@section content
{
    <div class="content-wrapper">
        @Html.Partial("_Menus")

        <h2>XYZ (BASE CASE SCENARIO - SALES GROWTH (%)</h2>
        <p>All figures are in IDR Ribuan Except Stated Otherwise </p>
        <!-- Accordion -->
        <div id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel">
                <div class="panel-heading" role="tab" id="headingOne">
                    <div class="panel-title">
                        <div data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <div class="table">
                                <div class="head">
                                    <div class="labels">
                                        <div>STATEMENTS OF FINANCIAL POSITION ASSETS (in IDR Ribuan)</div>
                                    </div>
                                    <div class="audited">
                                        <div>AUDITED</div>
                                        <div>31-Dec-13</div>
                                    </div>
                                    <div class="audited">
                                        <div>AUDITED</div>
                                        <div>31-Dec-14</div>
                                    </div>
                                    <div class="audited">
                                        <div>AUDITED</div>
                                        <div>31-Dec-15</div>
                                    </div>
                                    <div class="proj">
                                        <div>PROJ</div>
                                        <div>31-Dec-16</div>
                                    </div>
                                    <div class="proj">
                                        <div>PROJ</div>
                                        <div>31-Dec-17</div>
                                    </div>
                                    <div class="proj">
                                        <div>PROJ</div>
                                        <div>31-Dec-18</div>
                                    </div>
                                    <div class="proj">
                                        <div>PROJ</div>
                                        <div>31-Dec-19</div>
                                    </div>
                                    <div class="proj">
                                        <div>PROJ</div>
                                        <div>31-Dec-20</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="table alternate">
                        <div>
                            <div class="labels">Cash on hand & in banks</div>
                            <div class="audited">4,108,092</div>
                            <div class="audited">4,939,646</div>
                            <div class="audited">3,989,488</div>
                            <div class="proj">5,943,556</div>
                            <div class="proj">8,346,520</div>
                            <div class="proj">11,988,916</div>
                            <div class="proj">15,844,458</div>
                            <div class="proj">19,932,155</div>
                        </div>
                        <div>
                            <div class="labels">Excess cash</div>
                            <div class="audited"></div>
                            <div class="audited"></div>
                            <div class="audited"></div>
                            <div class="proj">5,943,556</div>
                            <div class="proj">8,346,520</div>
                            <div class="proj">11,988,916</div>
                            <div class="proj">15,844,458</div>
                            <div class="proj">19,932,155</div>
                        </div>
                        <div>
                            <div class="labels">Minimum cash balance</div>
                            <div class="audited">-</div>
                            <div class="audited">-</div>
                            <div class="audited">-</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                        </div>
                        <div>
                            <div class="labels">Time deposits</div>
                            <div class="audited">-</div>
                            <div class="audited">-</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                        </div>
                        <div>
                            <div class="labels">Short term investments</div>
                            <div class="audited">-</div>
                            <div class="audited">-</div>
                            <div class="audited">-</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                        </div>
                        <div class="spacer">
                            <div class="labels">&nbsp;</div>
                        </div>
                        <div>
                            <div class="labels">Trade receivables</div>
                            <div class="audited">2,916,062</div>
                            <div class="audited">3,432,555</div>
                            <div class="audited">3,628,639</div>
                            <div class="proj">3,704,521</div>
                            <div class="proj">3,889,747</div>
                            <div class="proj">4,084,234</div>
                            <div class="proj">4,288,446</div>
                            <div class="proj">4,502,868</div>
                        </div>
                        <div>
                            <div class="labels">(Provision for doubtful receivables)</div>
                            <div class="audited">-</div>
                            <div class="audited">-</div>
                            <div class="audited">-</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                        </div>
                        <div>
                            <div class="labels">Net trade receivables</div>
                            <div class="audited">2,916,062</div>
                            <div class="audited">3,432,555</div>
                            <div class="audited">3,628,639</div>
                            <div class="proj">3,704,5210</div>
                            <div class="proj">3,889,747</div>
                            <div class="proj">4,084,234</div>
                            <div class="proj">4,288,446</div>
                            <div class="proj">4,502,868</div>
                        </div>
                        <div class="spacer">
                            <div class="labels">&nbsp;</div>
                        </div>
                        <div>
                            <div class="labels">Other receivables</div>
                            <div class="audited">-</div>
                            <div class="audited">-</div>
                            <div class="audited">-</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                        </div>
                        <div>
                            <div class="labels">Net inventory</div>
                            <div class="audited">2,645,892</div>
                            <div class="audited">2,811,704</div>
                            <div class="audited">2,408,974</div>
                            <div class="proj">2,747,068</div>
                            <div class="proj">2,884,422</div>
                            <div class="proj">3,028,643</div>
                            <div class="proj">3,180,075</div>
                            <div class="proj">3,339,079</div>
                        </div>
                        <div>
                            <div class="labels">Advances on purchases</div>
                            <div class="audited">90,824</div>
                            <div class="audited">148,717</div>
                            <div class="audited">88,747</div>
                            <div class="proj">109,429</div>
                            <div class="proj">109,429</div>
                            <div class="proj">109,429</div>
                            <div class="proj">109,429</div>
                            <div class="proj">109,429</div>
                        </div>
                        <div>
                            <div class="labels">Prepaid expenses</div>
                            <div class="audited">57,782</div>
                            <div class="audited">171,261</div>
                            <div class="audited">382,060</div>
                            <div class="proj">46,647</div>
                            <div class="proj">46,647</div>
                            <div class="proj">46,647</div>
                            <div class="proj">46,647</div>
                            <div class="proj">46,647</div>
                        </div>
                        <div>
                            <div class="labels">Prepaid taxes</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">382,060/div>
                            <div class="proj">382,060/div>
                            <div class="proj">382,060/div>
                            <div class="proj">382,060/div>
                            <div class="proj">382,060/div>
                        </div>
                        <div>
                            <div class="labels">Sundry current assets</div>
                            <div class="audited">104,835</div>
                            <div class="audited">91,873</div>
                            <div class="audited">2,263</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                            <div class="proj">-</div>
                        </div>
                        <div class="total">
                            <div class="labels">TOTAL CURRENT ASSETS</div>
                            <div class="audited">9,972,109</div>
                            <div class="audited">11,648,54</div>
                            <div class="audited">10,538,703</div>
                            <div class="proj">12,933,281</div>
                            <div class="proj">15,658,825</div>
                            <div class="proj">19,639,929</div>
                            <div class="proj">23,851,115</div>
                            <div class="proj">28,312,23</div>
                        </div>
                        <div class="spacer">
                            <div class="labels">&nbsp;</div>
                        </div>
                        <div>
                            <div class="labels">Land</div>
                            <div class="audited">-</div>
                            <div class="audited">-</div>
                            <div class="audited">-</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Buildings and improvements</div>
                            <div class="audited">-</div>
                            <div class="audited">-</div>
                            <div class="audited">-</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Machinery and equipment</div>
                            <div class="audited">-</div>
                            <div class="audited">-</div>
                            <div class="audited">-</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Transportation equipment</div>
                            <div class="audited">-</div>
                            <div class="audited">-</div>
                            <div class="audited">-</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Furnitures, fixtures and office equipment</div>
                            <div class="audited">-</div>
                            <div class="audited">-</div>
                            <div class="audited">-</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Total Fixed Assets</div>
                            <div class="audited">-</div>
                            <div class="audited">-</div>
                            <div class="audited">-</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">(Accumulated depreciation Land)</div>
                            <div class="audited">-</div>
                            <div class="audited">-</div>
                            <div class="audited">-</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">(Accumulated depreciation Buildings and improvements)</div>
                            <div class="audited">-</div>
                            <div class="audited">-</div>
                            <div class="audited">-</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">(Accumulated depreciation Machinery and equipment)</div>
                            <div class="audited">-</div>
                            <div class="audited">-</div>
                            <div class="audited">-</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">(Accumulated depreciation Transportation equipment)</div>
                            <div class="audited">-</div>
                            <div class="audited">-</div>
                            <div class="audited">-</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">(Accumulated depreciation Furnitures, fixtures and office equipment)</div>
                            <div class="audited">-</div>
                            <div class="audited">-</div>
                            <div class="audited">-</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">(Accumulated depreciation Total Fixed Assets)</div>
                            <div class="audited">-</div>
                            <div class="audited">-</div>
                            <div class="audited">-</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Construction in progress</div>
                            <div class="audited">-</div>
                            <div class="audited">-</div>
                            <div class="audited">-</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div class="total">
                            <div class="labels">TOTAL FIXED ASSETS</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div class="spacer">
                            <div class="labels">&nbsp;</div>
                        </div>
                        <div>
                            <div class="labels">Long term investments</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Advance on purchases</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Sundry nca</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div class="total">
                            <div class="labels">TOTAL NON CURRENT ASSETS</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div class="total">
                            <div class="labels">TOTAL ASSETS</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <div class="panel-title">
                        <div class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <div class="table">
                                <div class="head">
                                    <div class="labels">
                                        <div>STATEMENTS OF FINANCIAL POSITION LIABILITIES & EQUITY (in IDR Ribuan)</div>
                                    </div>
                                    <div class="audited">
                                        <div>AUDITED</div>
                                        <div>31-Dec-13</div>
                                    </div>
                                    <div class="audited">
                                        <div>AUDITED</div>
                                        <div>31-Dec-14</div>
                                    </div>
                                    <div class="audited">
                                        <div>AUDITED</div>
                                        <div>31-Dec-15</div>
                                    </div>
                                    <div class="proj">
                                        <div>PROJ</div>
                                        <div>31-Dec-16</div>
                                    </div>
                                    <div class="proj">
                                        <div>PROJ</div>
                                        <div>31-Dec-17</div>
                                    </div>
                                    <div class="proj">
                                        <div>PROJ</div>
                                        <div>31-Dec-18</div>
                                    </div>
                                    <div class="proj">
                                        <div>PROJ</div>
                                        <div>31-Dec-19</div>
                                    </div>
                                    <div class="proj">
                                        <div>PROJ</div>
                                        <div>31-Dec-20</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="table alternate">
                        <div>
                            <div class="labels">Std - bank (existing)</div>
                            <div class="audited">320,926</div>
                            <div class="audited">81,808</div>
                            <div class="audited">138,606</div>
                            <div class="proj">138,606</div>
                            <div class="proj">138,606</div>
                            <div class="proj">138,606</div>
                            <div class="proj">138,606</div>
                            <div class="proj">138,606</div>
                        </div>
                        <div>
                            <div class="labels">Std - bank (existing ( ))</div>
                            <div class="audited"> - </div>
                            <div class="audited"> - </div>
                            <div class="audited"> - </div>
                            <div class="proj"> - </div>
                            <div class="proj"> - </div>
                            <div class="proj"> - </div>
                            <div class="proj"> - </div>
                            <div class="proj"> - </div>
                        </div>
                        <div>
                            <div class="labels">Std - bank (new)</div>
                            <div class="audited"> - </div>
                            <div class="audited"> - </div>
                            <div class="audited"> - </div>
                            <div class="proj"> - </div>
                            <div class="proj"> - </div>
                            <div class="proj"> - </div>
                            <div class="proj"> - </div>
                            <div class="proj"> - </div>
                        </div>
                        <div>
                            <div class="labels">Std - bank (new ( ))</div>
                            <div class="audited"> - </div>
                            <div class="audited"> - </div>
                            <div class="audited"> - </div>
                            <div class="proj"> - </div>
                            <div class="proj"> - </div>
                            <div class="proj"> - </div>
                            <div class="proj"> - </div>
                            <div class="proj"> - </div>
                        </div>
                        <div>
                            <div class="labels">New financing needs - unallocated</div>
                            <div class="audited"> - </div>
                            <div class="audited"> - </div>
                            <div class="audited"> - </div>
                            <div class="proj"> - </div>
                            <div class="proj"> - </div>
                            <div class="proj"> - </div>
                            <div class="proj"> - </div>
                            <div class="proj"> - </div>
                        </div>
                        <div>
                            <div class="labels">Current portion of long term liabilities:</div>
                            <div class="audited">519,274</div>
                            <div class="audited">516,069</div>
                            <div class="audited">707,080</div>
                            <div class="proj">630,044</div>
                            <div class="proj">630,044</div>
                            <div class="proj">630,044</div>
                            <div class="proj">630,044</div>
                            <div class="proj">476,505</div>
                        </div>
                        <div>
                            <div class="labels">Banks (existing)</div>
                            <div class="audited">469,973</div>
                            <div class="audited">463,572</div>
                            <div class="audited">630,044</div>
                            <div class="proj">630,044</div>
                            <div class="proj">630,044</div>
                            <div class="proj">630,044</div>
                            <div class="proj">630,044</div>
                            <div class="proj">476,505</div>
                        </div>
                        <div>
                            <div class="labels">Banks (existing ( ))</div>
                            <div class="audited"> - </div>
                            <div class="audited"> - </div>
                            <div class="audited"> - </div>
                            <div class="proj"> - </div>
                            <div class="proj"> - </div>
                            <div class="proj"> - </div>
                            <div class="proj"> - </div>
                            <div class="proj"> - </div>
                        </div>
                        <div>
                            <div class="labels">Other liabilities</div>
                            <div class="audited"> 49,301</div>
                            <div class="audited"> 52,497</div>
                            <div class="audited"> 77,036</div>
                            <div class="proj"> - </div>
                            <div class="proj"> - </div>
                            <div class="proj"> - </div>
                            <div class="proj"> - </div>
                            <div class="proj"> - </div>
                        </div>
                        <div>
                            <div class="audited"> - </div>
                            <div class="audited"> - </div>
                            <div class="audited"> - </div>
                            <div class="proj"> - </div>
                            <div class="proj"> - </div>
                            <div class="proj"> - </div>
                            <div class="proj"> - </div>
                            <div class="proj"> - </div>
                        </div>
                        <div>
                            <div class="labels">Banks (new ( ))</div>
                            <div class="audited"> - </div>
                            <div class="audited"> - </div>
                            <div class="audited"> - </div>
                            <div class="proj"> - </div>
                            <div class="proj"> - </div>
                            <div class="proj"> - </div>
                            <div class="proj"> - </div>
                            <div class="proj"> - </div>
                        </div>
                        <div>
                            <div class="labels">Other liabilities (new)</div>
                            <div class="audited"> - </div>
                            <div class="audited"> - </div>
                            <div class="audited"> - </div>
                            <div class="proj"> - </div>
                            <div class="proj"> - </div>
                            <div class="proj"> - </div>
                            <div class="proj"> - </div>
                            <div class="proj"> - </div>
                        </div>
                        <div>
                            <div class="labels">Current portion of ltd already overdue</div>
                            <div class="audited"> - </div>
                            <div class="audited"> - </div>
                            <div class="audited"> - </div>
                            <div class="proj"> - </div>
                            <div class="proj"> - </div>
                            <div class="proj"> - </div>
                            <div class="proj"> - </div>
                            <div class="proj"> - </div>
                        </div>
                        <div>
                            <div class="labels">Trade payables</div>
                            <div class="audited"> 2,822,117</div>
                            <div class="audited"> 3,246,509</div>
                            <div class="audited"> 3,977,545</div>
                            <div class="proj"> 3,782,157</div>
                            <div class="proj"> 3,971,265</div>
                            <div class="proj"> 4,169,829</div>
                            <div class="proj"> 4,378,320</div>
                            <div class="proj"> 4,597,236</div>
                        </div>
                        <div>
                            <div class="labels">Accrued expenses</div>
                            <div class="audited"> 438,205</div>
                            <div class="audited"> 445,434</div>
                            <div class="audited"> 633,616</div>
                            <div class="proj"> 563,768</div>
                            <div class="proj"> 591,957</div>
                            <div class="proj"> 621,554</div>
                            <div class="proj"> 652,632</div>
                            <div class="proj"> 685,264</div>
                        </div>
                        <div>
                            <div class="labels">Tax payables</div>
                            <div class="audited"> 398,537</div>
                            <div class="audited"> 271,687</div>
                            <div class="audited"> 275,833</div>
                            <div class="proj"> 275,833</div>
                            <div class="proj"> 275,833</div>
                            <div class="proj"> 275,833</div>
                            <div class="proj"> 275,833</div>
                            <div class="proj"> 275,833
</div>
                        </div>
                        <div>
                            <div class="labels">Sundry cl</div>
                            <div class="audited"> 798,531</div>
                            <div class="audited"> 710,421</div>
                            <div class="audited"> 866,509</div>
                            <div class="proj"> 866,509</div>
                            <div class="proj"> 866,509</div>
                            <div class="proj"> 866,509</div>
                            <div class="proj"> 866,509</div>
                            <div class="proj"> 866,509</div>
                        </div>
                        <div class="total">
                            <div class="labels">TOTAL CURRENT LIABILITIES</div>
                            <div class="audited"> 5,297,590</div>
                            <div class="audited"> 5,271,928</div>
                            <div class="audited"> 6,599,189</div>
                            <div class="proj"> 6,256,918</div>
                            <div class="proj"> 6,474,214</div>
                            <div class="proj"> 6,702,375</div>
                            <div class="proj"> 6,941,944</div>
                            <div class="proj"> 7,039,953</div>
                        </div>
                        <div>
                            <div class="labels">Long term debts:</div>
                            <div class="audited"> 3,242,383</div>
                            <div class="audited"> 3,315,146</div>
                            <div class="audited"> 3,155,615</div>
                            <div class="proj"> 3,366,637</div>
                            <div class="proj"> 1,736,593</div>
                            <div class="proj"> 1,106,549</div>
                            <div class="proj"> 476,505</div>
                            <div class="proj"> - </div>
                        </div>
                        <div>
                            <div class="labels">Banks (existing)</div>
                            <div class="audited"> 3,129,290</div>
                            <div class="audited"> 3,183,157</div>
                            <div class="audited"> 2,996,681</div>
                            <div class="proj"> 2,366,637</div>
                            <div class="proj"> 1,736,593</div>
                            <div class="proj"> 1,106,549</div>
                            <div class="proj"> 476,505</div>
                            <div class="proj"> - </div>
                        </div>
                        <div>
                            <div class="labels">Banks (existing ( ))</div>
                            <div class="audited"> - </div>
                            <div class="audited"> - </div>
                            <div class="audited"> - </div>
                            <div class="proj"> - </div>
                            <div class="proj"> - </div>
                            <div class="proj"> - </div>
                            <div class="proj"> - </div>
                            <div class="proj"> - </div>
                        </div>
                        <div>
                            <div class="labels">Other liabilities</div>
                            <div class="audited"> 113,093</div>
                            <div class="audited"> 131,989</div>
                            <div class="audited"> 158,934</div>
                            <div class="proj"> - </div>
                            <div class="proj"> - </div>
                            <div class="proj"> - </div>
                            <div class="proj"> - </div>
                            <div class="proj"> - </div>
                        </div>
                        <div>
                            <div class="labels">Banks (new)</div>
                            <div class="audited"> - </div>
                            <div class="audited"> - </div>
                            <div class="audited"> - </div>
                            <div class="proj"> - </div>
                            <div class="proj"> - </div>
                            <div class="proj"> - </div>
                            <div class="proj"> - </div>
                            <div class="proj"> - </div>
                        </div>
                        <div>
                            <div class="labels">Banks (new ( ))</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Other liabilities (new)</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Deferred taxes</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Sundry ncl</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div class="total">
                            <div class="labels">TOTAL NON-CURRENT LIABILITIES</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div class="total">
                            <div class="labels">TOTAL LIABILITIES</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Shares issued</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Additional Paid in Capital</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Other reserves</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Retained earnings:</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Previous earnings</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Current earnings</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Other equity components</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div class="spacer">
                            <div class="labels">&nbsp;</div>
                        </div>
                        <div>
                            <div class="labels">Non-controlling interest</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading" role="tab" id="headingThree">
                    <div class="panel-title">
                        <div class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <div class="table">
                                <div class="head">
                                    <div class="labels">
                                        <div>STATEMENTS OF COMPREHENSIVE INCOME (in IDR Ribuan)</div>
                                    </div>
                                    <div class="audited">
                                        <div>AUDITED</div>
                                        <div>31-Dec-13</div>
                                    </div>
                                    <div class="audited">
                                        <div>AUDITED</div>
                                        <div>31-Dec-14</div>
                                    </div>
                                    <div class="audited">
                                        <div>AUDITED</div>
                                        <div>31-Dec-15</div>
                                    </div>
                                    <div class="proj">
                                        <div>PROJ</div>
                                        <div>31-Dec-16</div>
                                    </div>
                                    <div class="proj">
                                        <div>PROJ</div>
                                        <div>31-Dec-17</div>
                                    </div>
                                    <div class="proj">
                                        <div>PROJ</div>
                                        <div>31-Dec-18</div>
                                    </div>
                                    <div class="proj">
                                        <div>PROJ</div>
                                        <div>31-Dec-19</div>
                                    </div>
                                    <div class="proj">
                                        <div>PROJ</div>
                                        <div>31-Dec-20</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="table alternate">
                        <div>
                            <div class="labels">Net Sales</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Cost of goods sold</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Depreciation expense</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Buildings and improvements</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Machinery and equipment</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Transportation equipment</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Furnitures, fixtures and office equipment</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Total Fixed Assets</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Amortisation expense</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div class="total">
                            <div class="labels">GROSS PROFIT</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Selling, general & adm expense</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Depreciation expense</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Buildings and improvements</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Machinery and equipment</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Transportation equipment</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Furnitures, fixtures and office equipment</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Total Fixed Assets</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Amortisation expense</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div class="total">
                            <div class="labels">NET OPERATING PROFIT  (NOP)</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Interest expense (existing)</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Interest expense (existing ( ))</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Interest expense (new)</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Interest expense (new ( ))</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Provision for doubtfull receivables</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Interest income</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Fx gains (losses)</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Other income (expenses)</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Gain on disposal of fixed assets</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Share of results of associates</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Others</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div class="total">
                            <div class="labels">PROFIT (LOSS) BEFORE INCOME TAX</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Income tax - Current</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Income tax - Deferred</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div class="total">
                            <div class="labels">INCOME FOR THE PERIOD</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Other comprehensive income (loss) for the year, net of tax</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div class="total">
                            <div class="labels">TOTAL COMPREHENSIVE INCOME (LOSS) FOR THE PERIOD</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels"><span class="labelText">INCOME FOR THE PERIOD ATTRIBUTABLE TO:</span></div>
                            <div class="audited"></div>
                            <div class="audited"></div>
                            <div class="audited"></div>
                            <div class="proj"></div>
                            <div class="proj"></div>
                            <div class="proj"></div>
                            <div class="proj"></div>
                            <div class="proj"></div>
                        </div>
                        <div>
                            <div class="labels">Equity holders of the parent entity</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Non-controlling interest</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels"><strong>Total</strong></div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div class="spacer">
                            <div class="labels">&nbsp;</div>
                        </div>
                        <div>
                            <div class="labels"><span class="labelText">COMPREHENSIVE INCOME FOR THE PERIOD ATTRIBUTABLE TO:</span></div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Other adjustments</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div class="spacer">
                            <div class="labels">&nbsp;</div>
                        </div>
                        <div>
                            <div class="labels">Chg in Shares issued</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div>
                            <div class="labels">Chg in Additional Paid in Capital</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                        <div class="total">
                            <div class="labels">EQUITY INCREASE</div>
                            <div class="audited">345,958,090</div>
                            <div class="audited">108,625,610</div>
                            <div class="audited">166,649,266</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                            <div class="proj">2,252,763,220</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <!-- END: Accordion -->
        <select>
            <option value="value">31-DEC13</option>
            <option value="value">31-DEC14</option>
            <option value="value">31-DEC15</option>
            <option value="value">31-DEC16</option>
            <option value="value">31-DEC17</option>
        </select>
    </div>
}
