@{
    ViewBag.Title = "Bank DKI - Financial Statements Stand Alone";
    ViewBag.Active = "fsStandAlone";
}

@section header
{
    @Html.Partial("_Header")
}


@section content
{
    <div class="content-wrapper">
        @Html.Partial("_Menus")

        <h2>Financial Statements Stand Alone</h2>
    </div>
}
