@{
    ViewBag.Title = "Bank DKI - Client Select";
    ViewBag.Active = "clientSelect";

}

@section header
{
    @Html.Partial("_Header")
}

@section content
{
    <div class="content-wrapper">
        <ul class="nav nav-pills nav-justified">
            <li class="active"><a href="#construction" data-toggle="tab">MANUFACTURE AND TRADING</a></li>
            <li><a href="#commerce" data-toggle="tab">CONSTRUCTION</a></li>
            <li><a href="#financialInstitution" data-toggle="tab">MULTI-FINANCE</a></li>
        </ul>
        <div class="tab-content">
            <!-- Construction -->
            <div id="construction" class="tab-pane fade in active">
                <div class="bordered contentPadding">
                    <div id="searchClient">
                        <input type="text" class="textbox" placeholder="search your client" />
                        <a class="icon" href="javascript:void(0);">
                            <span class="glyphicon glyphicon-search"></span>
                        </a>
                    </div>

                    <div class="clients">
                        <div class="clientName bordered contentPadding">
                            <span class="glyphicon glyphicon-user pull-left"></span>
                            <div class="clientDetails pull-left">
                                <h4>Client Name</h4>
                                <p>Detais of the seleced entity[optional]</p>
                            </div>
                        </div>
                        <div class="clientList bordered">
                            <ul>
                                <li tabindex="0">Client A</li>
                                <li tabindex="0">Client B</li>
                                <li tabindex="0">Client C</li>
                                <li tabindex="0">Client D</li>
                                <li tabindex="0">Client E</li>
                                <li tabindex="0">Client F</li>
                                <li tabindex="0">Client G</li>
                                <li tabindex="0">Client H</li>
                                <li tabindex="0">Client I</li>
                                <li tabindex="0">Client J</li>
                            </ul>
                        </div>
                        <div class="next">
                            <a class="btnClientSelect" href="javascript:void(0);">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                        <div class="clientSelected bordered">
                            <ul>
                                
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!-- END: Construction -->
            <!-- Commerce -->
            <div id="commerce" class="tab-pane fade">
                <div class="bordered contentPadding">
                    <div id="searchClient">
                        <input type="text" class="textbox" placeholder="search your client" />
                        <a class="icon" href="javascript:void(0);">
                            <span class="glyphicon glyphicon-search"></span>
                        </a>
                    </div>

                    <div class="clients">
                        <div class="clientName bordered contentPadding">
                            <span class="glyphicon glyphicon-user pull-left"></span>
                            <div class="clientDetails pull-left">
                                <h4>Client Name</h4>
                                <p>Detais of the seleced entity[optional]</p>
                            </div>
                        </div>
                        <div class="clientList bordered">
                            <ul>
                                <li tabindex="0">Client A</li>
                                <li tabindex="0">Client B</li>
                                <li tabindex="0">Client C</li>
                                <li tabindex="0">Client D</li>
                                <li tabindex="0">Client E</li>
                                <li tabindex="0">Client F</li>
                                <li tabindex="0">Client G</li>
                                <li tabindex="0">Client H</li>
                                <li tabindex="0">Client I</li>
                                <li tabindex="0">Client J</li>
                            </ul>
                        </div>
                        <div class="next">
                            <a class="btnClientSelect" href="javascript:void(0);">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                        <div class="clientSelected bordered">
                            <ul>
                                
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!-- END: Commerce -->

            <!-- Financial Institution -->
            <div id="financialInstitution" class="tab-pane fade">
                <div class="bordered contentPadding">
                    <div id="searchClient">
                        <input type="text" class="textbox" placeholder="search your client" />
                        <a class="icon" href="javascript:void(0);">
                            <span class="glyphicon glyphicon-search"></span>
                        </a>
                    </div>

                    <div class="clients">
                        <div class="clientName bordered contentPadding">
                            <span class="glyphicon glyphicon-user pull-left"></span>
                            <div class="clientDetails pull-left">
                                <h4>Client Name</h4>
                                <p>Detais of the seleced entity[optional]</p>
                            </div>
                        </div>
                        <div class="clientList bordered">
                            <ul>
                                <li tabindex="0">Client A</li>
                                <li tabindex="0">Client B</li>
                                <li tabindex="0">Client C</li>
                                <li tabindex="0">Client D</li>
                                <li tabindex="0">Client E</li>
                                <li tabindex="0">Client F</li>
                                <li tabindex="0">Client G</li>
                                <li tabindex="0">Client H</li>
                                <li tabindex="0">Client I</li>
                                <li tabindex="0">Client J</li>
                            </ul>
                        </div>
                        <div class="next">
                            <a class="btnClientSelect" href="javascript:void(0);">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                        <div class="clientSelected bordered">
                            <ul>
                                
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!-- Financial Institution -->
        </div>

        <a href="@Url.Action("StandAlone", "FinancialStatements")" id="btnNextClientSelection" class="btn btn-red">NEXT</a>
    </div>
}

@section scripts {
    @Scripts.Render("~/js/clientSelect")
}