@{
    ViewBag.Title = "Bank DKI - Client Select";
}

@section header
{
    @Html.Partial("_Header")
}

@section content
{
    <div class="content-wrapper">
        <h1>Client Select</h1>
        <div>This is a test only page. Check if less is working.</div>
    </div>
}
