@import 'variable.less';

#creditAnalysis{

    .applied-loan-amount-container{
        margin:20px;
        border-bottom-width:1px;
    }

    .credit-rating-container{
        height:170px;
        .credit-rating{
            height:150px;
        }
    }    

    .payment-details{
        margin-top:12px;
    }
}