@import 'variable.less';

body{
    font-family: @baseFontFamily;
    font-size: 19px;
    color:#6D6D6D;
    margin:0;
}

h1, h2, h3, h4, h5, h6{
    margin:0;
}

h1{
    font-size: 34px;
}

h2{
    font-size: 30px;
}

h3{
    font-size: 26px;
}

h4{
    font-size: 22px;
}

h5{
    font-size: 18px;
}

p{
    font-family:@bookFontFamily;
    font-size: 15px;
    margin:0;
}

strong{
    font-family:@baseFontFamily;
}

a {
    color: @red;

    &:hover{
        text-decoration:none;
    }
}