@baseFontFamily: 'ITC Avant Garde Gothic Std Demi', Arial, sans-serif;
@bookFontFamily: 'ITC Avant Garde Gothic Std Book', Arial, sans-serif;
@mediumFontFamily: 'ITC Avant Garde Gothic Std Medium', Arial, sans-serif;
@baseFontSize:          19px;
@baseColor:             #6D6D6D;



// Colors
@white: #FFFFFF;
@whiteHover: #F9FAFB;
@red: #DA2126;
@redHover: #B51C2E;
@green: #2BAF73;
@greenHover: #00A053;
@blue: #1BA6DD;
@blueHover: #008EBA;
@yellow: #EAA10F;
@yellowHover: #E29103;

@darkGray: #4F4F4F; 

@tableAlternateBg: #EDEDED;
@tableTextColor: #6D6D6D;
@headerColor: #545454;
@borderColor: @darkGray;
@contentBorder: 1px solid #B7B7B7;
@contentHeaderBg: #898989;
@ratingBg: #E0E0E0;
@lightGray: #B7B7B7;