<div class="col-md-6">
    <div class="ca-heading">
        <h3>Borrower's Risk (BR) - Obligator Risk Grade</h3>
    </div>
    <div class="ca-content">
        <table cellpadding="0" cellspacing="0" class="table-striped">
            <tr>
                <th>Parameter</th>
                <th>Attribute</th>
                <th>Weight</th>
            </tr>
            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>
            <tr>
                <td>Financial Measures(FM)</td>
                <td></td>
                <td>40%</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <ul>
                        <li>Constantta</li>
                        <li>Interest Average Ratio</li>
                        <li>Return on Asset</li>
                        <li>COGS Margin</li>
                        <li>SGA Margin</li>
                        <li>Quick Ratio</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>1.145</li>
                        <li>-0.028</li>
                        <li>0.119</li>
                        <li>0.155</li>
                        <li>-0.204</li>
                        <li>-0.068</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Management Quality (MQ)</td>
                <td></td>
                <td>35%</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <ul>
                        <li>
                            Covenant fulfillment in the last two years
                            <div class="radio">
                                <label><input type="radio" name="optradio">Yes</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="optradio">No</label>
                            </div>
                        </li>
                        <li>
                            Litigation case in the last two years
                            <div class="radio">
                                <label><input type="radio" name="optradio1">Yes</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="optradio1">No</label>
                            </div>
                        </li>
                        <li>
                            Risk Management and GCG principle implementation
                            <div class="radio">
                                <label><input type="radio" name="optradio2">Yes</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="optradio2">No</label>
                            </div>
                        </li>
                        <li>
                            Key person experience in some industry
                            <div class="radio">
                                <label><input type="radio" name="optradio3">>10 years</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="optradio3">5 s/d 10 years</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="optradio">1 s/d 5 years</label>
                            </div>
                        </li>
                        <li>
                            Financial report reliability
                            <div class="radio">
                                <label><input type="radio" name="optradio4">Audited by Big 4</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="optradio4">Others</label>
                            </div>
                        </li>
                    </ul>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>Industry (I)</td>
                <td></td>
                <td>25%</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <ul>
                        <li>High risk / red flag</li>
                        <li>Medium risk</li>
                        <li>Low risk</li>
                    </ul>
                </td>
                <td></td>
            </tr>
        </table>
    </div>
</div>
<div class="col-md-6">
    <div class="ca-heading">
        <h3>Security Quality (SQ) - Facility Risk Grade</h3>
    </div>
    <div class="ca-content">
        <table cellpadding="0" cellspacing="0" class="table-striped">
            <tr>
                <th>Parameter</th>
                <th>Attribute</th>
                <th>Weight</th>
            </tr>
            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>
            <tr>
                <td>Security Type (ST)</td>
                <td></td>
                <td>50%</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <ul>
                        <li>Cash and Deposits</li>
                        <li>Gold</li>
                        <li>Machinery</li>
                        <li>Land and Building</li>
                        <li>Securities</li>
                    </ul>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>Security Coverage (SC)</td>
                <td></td>
                <td>50%</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <ul>
                        <li>
                            <div class="radio">
                                <label><input type="radio" name="optradio5">> 70%</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="optradio5">70-50%</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="optradio5">< 50%</label>
                            </div>
                        </li>

                    </ul>
                </td>
                <td></td>
            </tr>
        </table>
    </div>
</div>
<div class="col-md-12 ca-processing-buttons">
    <button>Submit</button>
    <button disabled>Export</button>
</div>