     <div class="applied-loan-amount-container bordered contentPadding">
        <div>
            <span>Applied Loan Amount:</span>
            <span>$999,999.00</span>
        </div>
        <div>
            <span>Approved Loan Amount:</span>
            <span>$99,999.00</span>
        </div>
    </div>
    <div class="payment-details bordered contentPadding">
        <div>Payment Details</div>
        <div class="table center alternate">
            <div class="head">
                <div>Transaction Date</div>
                <div>Transaction Type</div>
                <div>Transaction Amount</div>
                <div>Transaction Details</div>
            </div>
            <div>
                <div>11/12/15</div>
                <div>Payment</div>
                <div>$100</div>
                <div>Sample Deatails</div>
            </div>
            <div>
                <div>11/12/15</div>
                <div>Payment</div>
                <div>$100</div>
                <div>Sample Deatails</div>
            </div>
            <div>
                <div>11/12/15</div>
                <div>Payment</div>
                <div>$100</div>
                <div>Sample Deatails</div>
            </div>
        </div>
    </div>
    <div class="credit-rating-container bordered contentPadding">
        <div class="credit-rating col-md-4 bordered">
            <div><span>VIEW CREDIT ANALYSIS REPORT</span></div>
            <div>Your Credit Rating Score</div>
            <div>AA</div>
            <div>On May 10, 2016</div>
            <button>APPROVE</button>
            <button>DENY</button>
        </div>
        <div class="credit-rating col-md-8 bordered">
            <div class="table center">
                <div>
                    <div>SCORE INGREDIENTS</div>
                    <div>HOW YOU RATE</div>
                </div>

                <div>
                    <div>Payment History</div>
                    <div><div class="rate-container"><div class="payment-history-rate"></div></div></div>
                </div>
                <div>
                    <div>Amount of Debt</div>
                    <div><div class="rate-container"><div class="amount-debt-rate"></div></div></div>
                </div>
                <div>
                    <div>Length of Credit History</div>
                    <div><div class="rate-container"><div class="length-credit-rate"></div></div></div>
                </div>
            </div>
        </div>
    </div>
