@{
    ViewBag.Title = "Bank DKI - Credit Analysis";
    ViewBag.Active = "creditAnalysis";
}

@section header
{
    @Html.Partial("_Header")
}

@section content
{
    <div class="content-wrapper">
        @Html.Partial("_Menus")      
        @Html.Partial("_CreditAnalysis")
    </div>
}
